Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

update exports
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove unused
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListResponse.java
  ts/src/contracts/tunnelListResponse.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update relay ids
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update tags to labels
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove tag references
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/tunnel.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/management/tunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix namespace export
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Allow direct port connection in Go SDK
  go/tunnels/client.go
  go/tunnels/client_test.go
Due: none

Update package version
  go/tunnels/tunnels.go
Due: none

generated contracts
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

contracts changes
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_response.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_port_v2.rs
  rs/src/contracts/tunnel_v2.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
Due: .pipelines/rust-pr-build.yaml

adding expiration to access control
  cs/src/Contracts/TunnelAccessControlEntry.cs
  go/tunnels/tunnel_access_control_entry.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  rs/src/contracts/tunnel_access_control_entry.rs
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

adding access control expiraiton
  cs/src/Contracts/TunnelAccessControlEntry.cs
  go/tunnels/tunnel_access_control_entry.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  rs/src/contracts/tunnel_access_control_entry.rs
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go version
  go/tunnels/tunnels.go
Due: none

adding access control entry expiraiton
  cs/src/Contracts/TunnelAccessControlEntry.cs
  go/tunnels/tunnel_access_control_entry.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  rs/src/contracts/tunnel_access_control_entry.rs
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Access Control Entry Expiration (#327)
  cs/src/Contracts/TunnelAccessControlEntry.cs
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  rs/src/contracts/tunnel_access_control_entry.rs
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package version
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package version (#328)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

WIP
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Allow direct port connection in Go SDK (#325)
  go/tunnels/client.go
  go/tunnels/client_test.go
Due: none

generate ids
  rs/src/management/http_client.rs
  rs/src/management/id_generation.rs
Due: .pipelines/rust-pr-build.yaml

update return
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update words
  cs/src/Management/IdGeneration.cs
  go/tunnels/id_generation.go
  java/src/main/java/com/microsoft/tunnels/management/IdGeneration.java
  ts/src/management/idGeneration.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert other files
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

go version
  go/tunnels/tunnels.go
Due: none

update references
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

make rust build
  rs/Cargo.toml
  rs/src/management/http_client.rs
  rs/src/management/id_generation.rs
Due: .pipelines/rust-pr-build.yaml

update import
  ts/src/contracts/index.ts
  ts/src/management/idGeneration.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update import (#332)
  ts/src/contracts/index.ts
  ts/src/management/idGeneration.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Refactor, fix status change events, reduce 409s and handle host disconnection in C# SDK
  cs/src/Connections/ConnectionStatus.cs
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RefreshingTunnelEventArgs.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/Extensions/SshExtensions.cs
  cs/test/TunnelsSDK.Test/Extensions/TaskExtensions.cs
  cs/test/TunnelsSDK.Test/Extensions/TunnelConnectionExtensions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/TestMultiChannelStream.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Do not attempt to delete endpoint if another host has connected.
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Rename TunnelRelayTunnelHost.EndpointID
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

format
  rs/src/connections/errors.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

regen
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_port.rs
Due: .pipelines/rust-pr-build.yaml

fix build issues
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix create url
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

update go
  go/tunnels/tunnels.go
Due: none

Update rs/src/management/http_client.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
