Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

CR feedback, dispose session after closing, more tests
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/RefreshingTunnelAccessTokenEventArgs.cs
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelClientBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TestTunnelRelayTunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Make SDK cs client reconnect SSH host and client sessions (#99)
  cs/src/Connections/ConnectionStatus.cs
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelConnector.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RefreshingTunnelAccessTokenEventArgs.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelClientBase.cs
  cs/src/Connections/TunnelHostBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/test/TunnelsSDK.Test/LocalPortsFixture.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TestTunnelRelayTunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: remove delegated authorization provider
  rs/src/management/authorization_provider.rs
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
Due: none

Fix malformed response error when deleting ports
  rs/src/management/http_client.rs
Due: none

Add SDK Feature Matrix to README.md
  README.md
Due: none

Update http_client.rs
  rs/src/management/http_client.rs
Due: none

Update deletion requests to match C# SDK in which 404 returns false not error
  rs/src/management/http_client.rs
Due: none

Update deletion requests to match C# SDK in which 404 returns false not error (#113)
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: remove delegated authorization provider (#110)
  rs/src/management/authorization_provider.rs
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
Due: none

Add SDK Feature Matrix to README.md (#112)
  README.md
Due: none

Update SSH package version
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update SSH package version (#114)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add inpection bool to tunnnelPort
  cs/src/Contracts/TunnelPort.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Report connection error status code
  cs/src/Connections/TunnelConnectionException.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Do not check host RemoteForwarders when PFS channel opens
  cs/src/Connections/TunnelHostBase.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add a unit test for cs client trying to forward from a non-forwarded port
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Remove unused checks from host's on ssh channel opening
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Remove reference to basis issue
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Do not check host RemoteForwarders when PFS channel opens (#116)
  cs/src/Connections/TunnelHostBase.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: re-add support for async auth providers
  rs/Cargo.toml
  rs/src/management/authorization.rs
  rs/src/management/errors.rs
  rs/src/management/http_client.rs
Due: none

rs: re-add support for async auth providers (#118)
  rs/Cargo.toml
  rs/src/management/authorization.rs
  rs/src/management/errors.rs
  rs/src/management/http_client.rs
Due: none

Make TunnelManagementClient extensible
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Equivalent improvements in TS
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert unnecessary protected, empty doc-comments
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Make TunnelManagementClient extensible (#119)
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add event that enables cancelling connection retry
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelConnectionException.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Rename TunnelBase -> TunnelConnection
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Move retrying callback to IRelayClient
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix retry delay issues
  cs/src/Connections/RelayTunnelConnector.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add event to enable observing & cancelling tunnel connection retries (#117)
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionException.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

API to make host refresh ports from service
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Concurrently refresh clients
  cs/src/Connections/TunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix minor issues in C#
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/TunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Port to TS
  ts/.npmrc
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

TS tunnel SDK SSH reconnection
  ts/src/connections/connectionStatus.ts
  ts/src/connections/connectionStatusChangedEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryingTunnelConnectionEventArgs.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/test/tunnels-test/connectTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix lint issues, test client side
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add some new unit tests and fix found issues
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add cluster details
  cs/src/Contracts/ClusterDetails.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/cluster_details.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  rs/src/contracts/cluster_details.rs
  rs/src/contracts/mod.rs
  ts/src/contracts/clusterDetails.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

API to make host refresh ports from service (#120)
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/.npmrc
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add more unit tests
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/testMultiChannelStream.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
