Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml

send both user agents as one header (#30)
  go/manager.go
Due: none

try move version.json to fix npm publish version.
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  version.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

try move version.json to fix npm publish version. (#31)
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  version.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

move check for version.json in csharp build
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Check for version.json in new location for cs build.
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add double update test
  go/manager_test.go
Due: none

add comment
  go/manager_test.go
Due: none

update build files.
  cs/build/build.props
  cs/src/Directory.Build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Check for version.json in new location for cs build. (#33)
  cs/build/build.props
  cs/src/Directory.Build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add test for updating tunnel multiple times (#34)
  go/manager_test.go
Due: none

Generalized SSH session to be used by PFS + tests
  go/ssh/request.go
  go/ssh/session.go
  go/ssh/session_test.go
Due: none

Use same receiver name
  go/ssh/messages/port_forward_channel_open.go
Due: none

Report request ID in service request exceptions
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

initial TunnelMangementClient outline
  Java/.editorconfig
  Java/.gitignore
  Java/.vscode/launch.json
  Java/pom.xml
  Java/src/main/java/com/microsoft/tunnels/ConnectTest.java
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  Java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/ProductHeaderValue.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  Java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

update test tool
  Java/.gitignore
  Java/.vscode/launch.json
  Java/src/main/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

add Java build action (maven)
  .github/workflows/maven.yml
Due: none

add connections folder
  Java/src/main/java/com/microsoft/tunnels/connections/TunnelClientBase.java
Due: none

fix braces
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

add checkstyle
  Java/.editorconfig
  Java/.vscode/settings.json
  Java/pom.xml
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

Allow all http methods and implement getTunnelAsync, createTunnelAsync.
  Java/pom.xml
  Java/src/main/java/com/microsoft/tunnels/ConnectionTest.java
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/management/HttpMethod.java
  Java/src/main/java/com/microsoft/tunnels/management/HttpResponseException.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

update checkstyle version
  Java/pom.xml
Due: none

don't run ConnectionTest in git action.
  .github/workflows/maven.yml
Due: none

fix lint warnings
  Java/.editorconfig
  Java/.vscode/settings.json
  Java/src/main/java/com/microsoft/tunnels/connections/TunnelClientBase.java
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  Java/src/main/java/com/microsoft/tunnels/management/HttpMethod.java
  Java/src/main/java/com/microsoft/tunnels/management/HttpResponseException.java
  Java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/ProductHeaderValue.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
  Java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

add more management client methods
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  Java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

user anonymous tunnels for tests
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

use StringUtils.isBlank
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update tunnel requests to get new tests working.
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  Java/src/main/java/com/microsoft/tunnels/management/HttpResponseException.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

update documentation
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  Java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

create tunnel test tests tunnel properties
  Java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

rename tests
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
  Java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

Use arrays for tunnel properties instead of collections.
  Java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  Java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  Java/src/test/java/com/microsoft/tunnels/ConnectionTest.java
Due: none

rename test
  Java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

Report request ID in service request exceptions (#36)
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove stdin/stdout pipes from session
  go/ssh/session.go
Due: none

Generalized SSH session to be used by PFS + tests (#35)
  go/ssh/request.go
  go/ssh/session.go
  go/ssh/session_test.go
Due: none

update userAgent in c#
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update typescript userAgents
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go user agents
  go/host_test.go
  go/manager.go
  go/manager_test.go
Due: none

use plural names
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rename Java->java
  java/.editorconfig
  java/.gitignore
  java/.vscode/launch.json
  java/.vscode/settings.json
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClientBase.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/management/HttpMethod.java
  java/src/main/java/com/microsoft/tunnels/management/HttpResponseException.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/ProductHeaderValue.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
