Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

add imports for java types
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/ProblemDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add TunnelEndpoint deserializer.
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Update SUPPORT.md
  SUPPORT.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update README.md
  README.md
Due: none

Update SUPPORT.md (#74)
  CONTRIBUTING.md
  README.md
  SUPPORT.md
Due: none

implment static contract methods and add unit tests
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
Due: none

only generate public methods
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Generate Java Contracts (#71)
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/contracts/LiveShareRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/LocalNetworkTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/ProblemDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/ServiceVersionDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessSubject.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAuthenticationSchemes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update java gh maven repo to use new repo name dev-tunnels
  java/pom.xml
Due: none

Update java gh maven repo to use new repo name dev-tunnels (#75)
  java/pom.xml
Due: none

contract writer
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

new spacing
  go/problem_details.go
  go/service_version_details.go
  go/tunnel.go
  go/tunnel_access_control_entry.go
  go/tunnel_access_control_entry_type.go
  go/tunnel_access_scopes.go
  go/tunnel_access_subject.go
  go/tunnel_authentication_schemes.go
  go/tunnel_connection_mode.go
  go/tunnel_constraints.go
  go/tunnel_endpoint.go
  go/tunnel_header_names.go
  go/tunnel_port.go
  go/tunnel_port_status.go
  go/tunnel_protocol.go
  go/tunnel_service_properties.go
  go/tunnel_status.go
Due: none

maven
  .github/workflows/maven.yml
Due: none

Add more details and limts to status contracts
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelPortStatus.cs
  cs/src/Contracts/TunnelStatus.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/resource_status.go
  go/tunnel_port_status.go
  go/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  ts/src/contracts/rateStatus.ts
  ts/src/contracts/resourceStatus.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update headers in new C# files
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Re-word comments
  cs/src/Contracts/TunnelPortStatus.cs
  go/tunnel_port_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  ts/src/contracts/tunnelPortStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix file name in header
  cs/src/Contracts/RateStatus.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add more details and limts to status contracts (#78)
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelPortStatus.cs
  cs/src/Contracts/TunnelStatus.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/resource_status.go
  go/tunnel_port_status.go
  go/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  ts/src/contracts/rateStatus.ts
  ts/src/contracts/resourceStatus.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

other name updates
  cs/Directory.Build.props
  java/pom.xml
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update repo name references (#79)
  cs/Directory.Build.props
  go/client.go
  go/client_test.go
  go/examples/example.go
  go/go.mod
  go/ssh/client_session.go
  go/ssh/local_port_forwarder_test.go
  go/test/relay_server.go
  java/pom.xml
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

another rename
  goTunnels/test/relay_server.go
Due: none

update build
  .github/workflows/go.yml
Due: none

update contract path
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

contracts generation
  go/tunnels/problem_details.go
  go/tunnels/resource_status.go
  go/tunnels/service_version_details.go
  go/tunnels/tunnel.go
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_access_control_entry_type.go
  go/tunnels/tunnel_access_scopes.go
  go/tunnels/tunnel_access_subject.go
  go/tunnels/tunnel_authentication_schemes.go
  go/tunnels/tunnel_connection_mode.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_header_names.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_port_status.go
  go/tunnels/tunnel_protocol.go
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnel_status.go
Due: none

Revert "Add more details and limts to status contracts (#78)"
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelPortStatus.cs
  cs/src/Contracts/TunnelStatus.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_port_status.go
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  ts/src/contracts/rateStatus.ts
  ts/src/contracts/resourceStatus.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

edit token check order
  go/tunnels/manager.go
Due: none

Fix ResourceStatus serialization
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelContracts.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelContracts.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Propagate 429 error detail
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix ResourceStatus serialization (#81)
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelContracts.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelContracts.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update go SDK version
  go/tunnels/tunnels.go
Due: none

Update go SDK version (#82)
  go/tunnels/tunnels.go
Due: none
