Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: EsrpRelease@5
    inputs:
      ConnectedServiceName: devtunnels-esrp
      Intent: PackageDistribution
      ContentType: npm
      ContentSource: Folder
      FolderLocation: $(System.DefaultWorkingDirectory)/ts
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

update response handling (#417)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update dev fpa
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update versions
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix app ID names in all sdk languages
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix rs
  rs/src/contracts/tunnel_environments.rs
Due: .pipelines/rust-pr-build.yaml

try revert auto-generated rs change
  rs/src/contracts/tunnel_endpoint.rs
Due: .pipelines/rust-pr-build.yaml

string to String
  rs/src/contracts/tunnel_endpoint.rs
Due: .pipelines/rust-pr-build.yaml

Update dev FPA ID (#419)
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Detect 4xx error response from firewall
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix ServedByHeaderPrefix in TS SDK
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Detect 4xx error response from firewall (#418)
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

demand specific machine
  .pipelines/typescript-build-and-publish.yaml
Due: none

Fix cluster ID logic for tunnels.local.api... hostname
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix go parentheses
  go/tunnels/manager.go
Due: none

Fix go Contains call
  go/tunnels/manager.go
Due: none

Update package versions
  go/tunnels/tunnels.go
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix rust errors
  rs/src/connections/relay_tunnel_host.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Fix rust errors (2)
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Fix cluster ID logic for tunnels.local.api... hostname (#430)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/connections/relay_tunnel_host.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/management/http_client.rs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update esrp release task
  .pipelines/typescript-build-and-publish.yaml
Due: none

update esrp release task (#440)
  .pipelines/typescript-build-and-publish.yaml
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines
  .pipelines/typescript-build-and-publish.yaml
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines (#441)
  .pipelines/typescript-build-and-publish.yaml
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines (#442)
  .pipelines/typescript-build-and-publish.yaml
Due: none

update dependencies
  go.mod
  go.sum
Due: none

package version
  go/tunnels/tunnels.go
Due: none

Update Go Crypto Versions (#447)
  go.mod
  go.sum
  go/tunnels/tunnels.go
Due: none

Upgrade CodeQL version from v1 to v2
  .github/workflows/codeql-analysis.yml
Due: none

Upgrade CodeQL actions to v3
  .github/workflows/codeql-analysis.yml
Due: none

Update actions/checkout to v4
  .github/workflows/codeql-analysis.yml
Due: none

Upgrade CodeQL version from v1 to v3 (#453)
  .github/workflows/codeql-analysis.yml
Due: none

Add failed policy requirement names to UnauthorizedAccessException
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix misspelling
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Insert SSH 3.11.41, add more unit tests and logging to tests
  cs/build/build.props
  cs/test/TunnelsSDK.Test/TcpListeners.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/XunitTraceListener.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Insert SSH 3.11.41, add more unit tests and logging to tests (#473)
  cs/build/build.props
  cs/test/TunnelsSDK.Test/TcpListeners.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/XunitTraceListener.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix checks for local development DNS name
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix checks for local development DNS name (#474)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix host port number in TCP listener factory
  cs/build/build.props
  cs/src/Connections/RetryTcpListenerFactory.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/connections/retryTcpListenerFactory.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix host port number in TCP listener factory (#485)
  cs/build/build.props
  cs/src/Connections/RetryTcpListenerFactory.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/connections/retryTcpListenerFactory.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
