Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

add publishing instructions
  go/tunnels/PUBLISHING.md
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

Add Go publishing instructions and clean up dependencies (#83)
  go.mod
  go.sum
  go/tunnels/PUBLISHING.md
Due: none

Fix ResourceStatus serialization bug
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelAccessControl.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix ResourceStatus serialization bug (#84)
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelAccessControl.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add java setup instructions
  java/.vscode/extensions.json
  java/README.md
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

newline
  java/.vscode/extensions.json
Due: none

update readme
  java/README.md
Due: none

Fix date properties after deserializing in TS SDK
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix date properties after deserializing in TS SDK (#86)
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Set up rust project, generate contracts
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/.gitignore
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/mod.rs
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_control_entry_type.rs
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_authentication_schemes.rs
  rs/src/contracts/tunnel_connection_mode.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_header_names.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_protocol.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_service_properties.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/lib.rs
  rs/src/management/mod.rs
  rs/src/tunnel.rs
  rs/test/tunnels_test.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add java readme (#85)
  java/.vscode/extensions.json
  java/README.md
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

Fix casing for generated TS & Go enum values
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_access_control_entry_type.go
  go/tunnels/tunnel_connection_mode.go
  ts/src/contracts/tunnelAccessControlEntryType.ts
  ts/src/contracts/tunnelConnectionMode.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix casing for generated TS & Go enum values (#87)
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_access_control_entry_type.go
  go/tunnels/tunnel_connection_mode.go
  ts/src/contracts/tunnelAccessControlEntryType.ts
  ts/src/contracts/tunnelConnectionMode.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Include auth params in unauthorized exception
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Use header class instead of string
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Include auth params in unauthorized exception (#88)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix handling of multiple WWW-Auth header values
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix handling of multiple WWW-Auth header values (#89)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix WWW-Authenticate header bug
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix WWW-Authenticate header bug (#90)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: update contract generators for initial implementation
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_control_entry_type.rs
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_authentication_schemes.rs
  rs/src/contracts/tunnel_connection_mode.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_header_names.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_protocol.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_service_properties.rs
  rs/src/contracts/tunnel_status.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: initial implementation of management client
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/lib.rs
  rs/src/management/authorization.rs
  rs/src/management/errors.rs
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
  rs/src/management/tunnel_locator.rs
  rs/src/management/tunnel_request_options.rs
Due: none

rust: fix deserializing connection count
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/resource_status.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: use string instead of time for temp issue
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_status.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: get base end to end working
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/CONTRIBUTING.md
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/serialization.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_locator.rs
  rs/src/management/tunnel_request_options.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: support async auth, clean up types
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/Cargo.lock
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/serialization.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/management/authorization_provider.rs
  rs/src/management/errors.rs
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
  rs/src/management/tunnel_locator.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fixup! bug and usability fixes
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rust: add a utility get_count function for ResourceStatus
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/resource_status.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add service tag access control entry
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

ServiceTag->ServiceTags
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Make TunnelRequestOptions extensible
  cs/src/Management/TunnelRequestOptions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Make TunnelRequestOptions extensible (#94)
  cs/src/Management/TunnelRequestOptions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

use IPAddressRanges entry type for service tags
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add service tag access control entry (#93)
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove Live Share connection support
  cs/build/build.props
  cs/src/Connections/LiveShare.cs
  cs/src/Connections/LiveShareRelayTokenProvider.cs
  cs/src/Connections/LiveShareRelayTunnelClient.cs
  cs/src/Connections/LiveShareRelayTunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/TunnelService.Connections.csproj
  cs/src/Contracts/LiveShareRelayTunnelEndpoint.cs
  cs/src/Contracts/TunnelConnectionMode.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  go/tunnels/manager_test.go
  go/tunnels/tunnel_connection_mode.go
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/LiveShareRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelContracts.java
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_connection_mode.rs
  ts/src/connections/index.ts
  ts/src/connections/liveShareRelayTokenProvider.ts
  ts/src/connections/liveShareRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/liveShareRelayTunnelEndpoint.ts
  ts/src/contracts/tunnelConnectionMode.ts
  ts/test/tunnels-test/connection.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove Live Share connection support (#95)
  cs/build/build.props
  cs/src/Connections/LiveShare.cs
  cs/src/Connections/LiveShareRelayTokenProvider.cs
  cs/src/Connections/LiveShareRelayTunnelClient.cs
  cs/src/Connections/LiveShareRelayTunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/TunnelService.Connections.csproj
  cs/src/Contracts/LiveShareRelayTunnelEndpoint.cs
  cs/src/Contracts/TunnelConnectionMode.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  go/tunnels/manager_test.go
  go/tunnels/tunnel_connection_mode.go
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/LiveShareRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelContracts.java
  rs/src/contracts/live_share_relay_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_connection_mode.rs
  ts/src/connections/index.ts
  ts/src/connections/liveShareRelayTokenProvider.ts
  ts/src/connections/liveShareRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/liveShareRelayTunnelEndpoint.ts
  ts/src/contracts/tunnelConnectionMode.ts
  ts/test/tunnels-test/connection.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add name, description, & tags props to TunnelPort
  cs/src/Contracts/TunnelPort.cs
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_control_entry_type.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add name, description, & tags props to TunnelPort (#96)
  cs/src/Contracts/TunnelPort.cs
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_control_entry_type.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
