Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Fix tabs and package lock json
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/contracts/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add license, author, and LICENSE file to ts packages (#196)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/LICENSE
  ts/src/connections/package.json
  ts/src/contracts/LICENSE
  ts/src/contracts/package.json
  ts/src/management/LICENSE
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump dotnet SDK to 6.0.405
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Bump dotnet SDK to 6.0.405 (#197)
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Java SDK does not support == for string comparision and initialize port
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Java SDK does not support == for string comparision and initialize port (#198)
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Update SSH package version to include IgnoreMessage change
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update SSH package version to include IgnoreMessage change (#199)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: support HTTP_PROXY (#189)
  .vscode/settings.json
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
Due: none

add inspection uri to port contract
  cs/src/Contracts/TunnelPort.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add for other languages
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go version
  go/tunnels/tunnels.go
Due: none

use just one uri
  cs/src/Contracts/TunnelPort.cs
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add inspection uri to port contract (#200)
  cs/src/Contracts/TunnelPort.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: fix tls connections not working unless openssl was vendored
  rs/Cargo.toml
Due: none

rs: fix tls connections not working unless openssl was vendored (#202)
  rs/Cargo.toml
Due: none

Update SSH version, cleanup unused version props
  cs/build/build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/RelayStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Management/DevTunnels.Management.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  ts/src/connections/sshHelpers.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH version, cleanup unused version props (#203)
  cs/build/build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/RelayStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Management/DevTunnels.Management.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  ts/src/connections/sshHelpers.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- Add AcceptForwardedPortConnections - Add ForwardConnectionsToLocalPorts
  cs/build/build.props
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

working
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- switch callback to event - add tests
  cs/src/Connections/ForwardedPortConnectingEventArgs.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelHostBase.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

onForwardedPortConnecting
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update test. Fix in a PR currently being reviewed: https://github.com/microsoft/dev-tunnels/pull/205/files#diff-253ff8df82d8d58534fb593f86d3e641a89c1eb9183616ec770529e1f2b5d621
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update test in C#. Fix in a PR currently being reviewed: https://github.com/microsoft/dev-tunnels/pull/205/files#diff-253ff8df82d8d58534fb593f86d3e641a89c1eb9183616ec770529e1f2b5d621
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

test improvements
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add tunnel client local address property
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/RetryTcpListenerFactory.cs
  cs/src/Connections/TunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/retryTcpListenerFactory.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

PR comments
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add tunnel client local address property (#206)
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/RetryTcpListenerFactory.cs
  cs/src/Connections/TunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/retryTcpListenerFactory.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add SDK host API for accepting channel connections directly as streams instead of via TCP ports (#204)
  cs/build/build.props
  cs/src/Connections/ForwardedPortConnectingEventArgs.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/package.json
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Connection protocol v2 implementation
  cs/build/build.props
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/SessionPortKey.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/package.json
  ts/src/management/tunnelAccessTokenProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package version
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Make messages public
  cs/src/Connections/Messages/PortRelayConnectMessage.cs
  cs/src/Connections/Messages/PortRelayRequestMessage.cs
  cs/src/Connections/TunnelConnection.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Connection protocol v2 SDK implementation (C#) (#205)
  cs/build/build.props
  cs/src/Connections/Messages/PortRelayConnectMessage.cs
  cs/src/Connections/Messages/PortRelayRequestMessage.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/SessionPortKey.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/package-lock.json
  ts/package.json
  ts/src/management/tunnelAccessTokenProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- bump version to 3.10.30 - inheritdoc comment for ForwardConnectionsToLocalPorts in TunnelHost
  cs/build/build.props
  cs/src/Connections/TunnelHost.cs
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- bump version to 3.10.30 (#209)
  cs/build/build.props
  cs/src/Connections/TunnelHost.cs
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Migrate from tslint to eslint
  .pipelines/typescript-build-steps.yaml
  cs/src/Connections/SshChannelForwarder.cs
  ts/.eslintrc.js
  ts/package-lock.json
  ts/package.json
  ts/src/connections/connectionStatusChangedEventArgs.ts
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryTcpListenerFactory.ts
  ts/src/connections/retryingTunnelConnectionEventArgs.ts
  ts/src/connections/sessionPortKey.ts
  ts/src/connections/sshChannelForwarder.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/tsconfig.eslint.json
  ts/tslint.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix 429 retry and tests
  ts/src/connections/relayTunnelConnector.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Rebuild package-lock.json using public registry
  ts/package-lock.json
  ts/src/management/package-lock.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove always-auth from npmrc
  ts/.npmrc
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Rebase and merge
  ts/package-lock.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
