Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

rs: support ipv6 port-forwarded services (#292)
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

Working routing with tunnel alias
  cs/src/Connections/TunnelClient.cs
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel.go
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Adding SDK changes for custom tunnel expiration
  cs/src/Contracts/Tunnel.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding related contracts
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

updating contract to include seconds
  cs/src/Contracts/Tunnel.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update id generation
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelPort.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Custom expiration cli changes (#293)
  cs/src/Contracts/Tunnel.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

adding related program files
  go/tunnels/program.go
  java/src/main/java/com/microsoft/tunnels/contracts/Program.java
  rs/src/contracts/program.rs
  ts/src/contracts/program.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix access control IsAllowed logic
  cs/src/Management/TunnelAccessControlExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelAccessTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix access control IsAllowed logic (#295)
  cs/src/Management/TunnelAccessControlExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelAccessTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Routing with alias checks
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add silly names
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/IdGeneration.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert name
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Catch exceptions in tunnel host async void method
  cs/build/build.props
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Catch exceptions in tunnel host async void method (#297)
  cs/build/build.props
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert unused contract changes
  go/tunnels/tunnel.go
  go/tunnels/tunnel_access_control.go
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_base.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_options.go
  go/tunnels/tunnel_status.go
  go/tunnels/tunnel_v1.go
  go/tunnels/tunnel_v2.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  rs/src/contracts/tunnel_v.rs
  rs/src/contracts/tunnel_v2.rs
  ts/src/contracts/tunnelV.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert java changes
  go/tunnels/tunnel.go
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelBase.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV1.java
Due: none

revert rust changes
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_base.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/contracts/tunnel_v1.rs
Due: .pipelines/rust-pr-build.yaml

revert typescript
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelBase.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelStatus.ts
  ts/src/contracts/tunnelV1.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

generate contracts
  go/tunnels/tunnel_access_control.go
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_base.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_options.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelBase.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV1.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_base.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/contracts/tunnel_v1.rs
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelBase.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelStatus.ts
  ts/src/contracts/tunnelV1.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update version
  go/tunnels/tunnels.go
Due: none

Revert "generate contracts"
  go/tunnels/tunnel_access_control.go
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_base.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_options.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_status.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelBase.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV1.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_base.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/contracts/tunnel_v1.rs
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelBase.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelStatus.ts
  ts/src/contracts/tunnelV1.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert other languages
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update constraints
  cs/src/Contracts/TunnelConstraints.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add other language changes
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix compile bugs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
Due: none

fix builds
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert constraints
  go/tunnels/tunnel_constraints.go
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update contracts
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPortV2.cs
  cs/src/Contracts/TunnelV2.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port_v2.go
  go/tunnels/tunnel_v.go
  go/tunnels/tunnel_v2.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortV2.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port_v2.rs
  rs/src/contracts/tunnel_v.rs
  rs/src/contracts/tunnel_v2.rs
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelPortV2.ts
  ts/src/contracts/tunnelV.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go
  go/tunnels/tunnels.go
Due: none

fix id error
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove unused
  go/tunnels/tunnel_v.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV.java
  rs/src/contracts/tunnel_v.rs
  ts/src/contracts/tunnelV.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove virtual
  cs/src/Contracts/Tunnel.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update Endpoint and add new tunnel contract (#299)
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelPortV2.cs
  cs/src/Contracts/TunnelV2.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port_v2.go
  go/tunnels/tunnel_v2.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortV2.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port_v2.rs
  rs/src/contracts/tunnel_v2.rs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelPortV2.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add validation for both tunnel id forms
  cs/src/Contracts/TunnelConstraints.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add validation for both tunnel id forms (#300)
  cs/src/Contracts/TunnelConstraints.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add connection options and cancellation (TS)
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionOptions.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelSession.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add connection options for retry and reconnect
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelConnector.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Address feedback
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
