Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

updated policykeypath; updated header name
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add policies property to tunnelservice request header on C# (#348)
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/PolicyProvider.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

revert go dir to main
  go/tunnels/cluster_details.go
  go/tunnels/error_codes.go
  go/tunnels/error_detail.go
  go/tunnels/inner_error_detail.go
  go/tunnels/problem_details.go
  go/tunnels/resource_status.go
  go/tunnels/service_version_details.go
  go/tunnels/tunnel.go
  go/tunnels/tunnel_access_control.go
  go/tunnels/tunnel_access_control_entry.go
  go/tunnels/tunnel_access_control_entry_type.go
  go/tunnels/tunnel_access_scopes.go
  go/tunnels/tunnel_access_subject.go
  go/tunnels/tunnel_authentication_schemes.go
  go/tunnels/tunnel_connection_mode.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_header_names.go
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnel_list_by_region_response.go
  go/tunnels/tunnel_options.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_port_list_response.go
  go/tunnels/tunnel_port_status.go
  go/tunnels/tunnel_protocol.go
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnel_status.go
Due: none

revert java dir to main
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorCodes.java
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/InnerErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/LocalNetworkTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/NamedRateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ProblemDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/ServiceVersionDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessSubject.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAuthenticationSchemes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegionResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
Due: none

revert ts dir to main
  ts/src/contracts/clusterDetails.ts
  ts/src/contracts/errorCodes.ts
  ts/src/contracts/errorDetail.ts
  ts/src/contracts/innerErrorDetail.ts
  ts/src/contracts/localNetworkTunnelEndpoint.ts
  ts/src/contracts/namedRateStatus.ts
  ts/src/contracts/problemDetails.ts
  ts/src/contracts/rateStatus.ts
  ts/src/contracts/resourceStatus.ts
  ts/src/contracts/serviceVersionDetails.ts
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/contracts/tunnelAccessSubject.ts
  ts/src/contracts/tunnelAuthenticationSchemes.ts
  ts/src/contracts/tunnelConnectionMode.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelHeaderNames.ts
  ts/src/contracts/tunnelListByRegion.ts
  ts/src/contracts/tunnelListByRegionResponse.ts
  ts/src/contracts/tunnelOptions.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelPortListResponse.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelProtocol.ts
  ts/src/contracts/tunnelRelayTunnelEndpoint.ts
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

revert rs/src/contracts dir to main
  rs/src/contracts/cluster_details.rs
  rs/src/contracts/error_codes.rs
  rs/src/contracts/error_detail.rs
  rs/src/contracts/inner_error_detail.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_control_entry_type.rs
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_authentication_schemes.rs
  rs/src/contracts/tunnel_connection_mode.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_header_names.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_protocol.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_service_properties.rs
  rs/src/contracts/tunnel_status.rs
Due: .pipelines/rust-pr-build.yaml

Bump axios to version 1.6.2
  ts/package-lock.json
  ts/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump axios to version 1.6.2 (#351)
  ts/package-lock.json
  ts/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix last repeat run in ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix last repeat run in ts (#353)
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix CG alert in gopkg.in/yaml.v3
  go.mod
  go.sum
  go/tunnels/tunnels.go
Due: none

Fix CG alert in gopkg.in/yaml.v3 (#354)
  go.mod
  go.sum
  go/tunnels/tunnels.go
Due: none

require new packages
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add docs
  .github/pull_request_template.md
  ts/README-dev.md
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

more docs
  ts/README-dev.md
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

PR suggestions
  .github/pull_request_template.md
  ts/README-dev.md
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

handle new policies related responses
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add policies property to tunnelservice request header on Rust (#349)
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

manually add version
  cs/Directory.Build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

manually add version (#359)
  cs/Directory.Build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "manually add version (#359)"
  cs/Directory.Build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix more GO CG alerts
  go.mod
  go.sum
  go/tunnels/tunnels.go
Due: none

Fix build break
  go.sum
Due: none

Fix more GO CG alerts (#363)
  go.mod
  go.sum
  go/tunnels/tunnels.go
Due: none

add version files
  cs/version.json
  ts/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Handle new policies related responses (#360)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding exception check
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding exception message
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

cleaning pr
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

cleaning file
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding exception catch
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

udpdating exception wording
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update version
  version.json
Due: none

remove other refs
  cs/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

more update refs
  ts/version.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

temp remove
  version.json
Due: none

Squash and rebase branch (#368)
  cs/version.json
  ts/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

base version file
  version.json
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
