Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Revert "Add forceCreate and forceUpdate query params (#335)"
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

use header for c# sdk
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update create and update
  cs/src/Management/TunnelManagementClient.cs
  rs/src/contracts/tunnel_constraints.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

add port headers
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add headers to ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

java and go updates
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

add precondition exception
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

use const
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

pr fixes
  cs/src/Management/TunnelManagementClient.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update port setting
  cs/src/Management/TunnelManagementClient.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH TS package version
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix build issues
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH TS package version (#340)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add CreateOrUpdate tunnels and ports and forced updates and creates with headers (#336)
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix null ref exception on port creation
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Revert "fix null ref exception on port creation"
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix null reference error on port list init
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix null reference error on port list init (#342)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add typescript SDK changes, increase retry delay for 502, 503, and 429.
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/connectionStatus.ts
  ts/src/connections/index.ts
  ts/src/connections/refreshingTunnelEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/test/tunnels-test/duplexStream.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/promiseUtils.ts
  ts/test/tunnels-test/testMultiChannelStream.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove unused imports from ts files.
  ts/src/connections/refreshingTunnelEventArgs.ts
  ts/src/connections/utils.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update cs/src/Connections/IRelayClient.cs
  cs/src/Connections/IRelayClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix error in error handling in TunnelRelayTunnelHost.StartForwardingExistingPortsAsync
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Refactor, fix status change events, reduce 409s, and handle too many connections disconnected host in C# SDK (#329)
  cs/src/Connections/ConnectionStatus.cs
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RefreshingTunnelEventArgs.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/Extensions/SshExtensions.cs
  cs/test/TunnelsSDK.Test/Extensions/TaskExtensions.cs
  cs/test/TunnelsSDK.Test/Extensions/TunnelConnectionExtensions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/TestMultiChannelStream.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/connectionStatus.ts
  ts/src/connections/index.ts
  ts/src/connections/refreshingTunnelEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/test/tunnels-test/duplexStream.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/promiseUtils.ts
  ts/test/tunnels-test/testMultiChannelStream.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix RefreshPorts API for sessions not yet auth'd
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix flaky ConnectRelayClientToHostAndReconnectHost test
  cs/test/TunnelsSDK.Test/Extensions/TunnelConnectionExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix another timing issue in the test, always assert even if the status is already as expected.
  cs/test/TunnelsSDK.Test/Extensions/TunnelConnectionExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix RefreshPorts API for sessions not yet auth'd (#343)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: remove unused mut
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Fix flaky ConnectRelayClientToHostAndReconnectHost test (#345)
  cs/test/TunnelsSDK.Test/Extensions/TunnelConnectionExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

added policies to http request header
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/RegistryTools.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix typo; remove adding policy if not set
  cs/src/Management/RegistryTools.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

cleaned up code; addressed comments
  cs/src/Management/RegistryTools.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fixed empty string case
  cs/src/Management/RegistryTools.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

added a new class for reading registry values and creating a header value
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

correct filename
  cs/src/Management/PolicyProvider.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

address comments
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

correction
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix build errors
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
Due: .pipelines/rust-pr-build.yaml

fixes
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml
