Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:

pool:
  name: VSEngSS-MicroBuild2022-1ES

# Trigger only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

variables:
  TeamName: "Visual Studio"
  enableSigning: true
  signType: real
  Codeql.Enabled: true

steps:

- task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
  displayName: 'Install Signing Plugin'
  inputs:
    signType: $(signType)

- template: cs-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    nobuild: true
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Normal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: NuGetCommand@2
  displayName: "Publish NuGet packages to nuget.org"
  inputs:
    command: 'push'
    nugetFeedType: 'external'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    publishFeedCredentials: 'dev-tunnels-nuget'
    publishPackageMetadata: true

.pipelines/cs-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `cs` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - cs
  autoCancel: true

variables:
  enableSigning: false

steps:
- template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

steps:
- template: csharp-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: Install NBGV tool
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv

- script: nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Minimal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'

.pipelines/typescript-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to TypeScript directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - ts

pr: none

steps:
- template: typescript-build-steps.yaml

- task: Npm@1
  displayName: 'Publish packages to external feed'
  inputs:
    command: custom
    workingDir: ts
    verbose: false
    customCommand: 'run publish --access public'
    customRegistry: useNpmrc
    customEndpoint: 'dev-tunnels-npm'

.pipelines/typescript-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `ts` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - ts
  autoCancel: true

steps:
- template: typescript-build-steps.yaml

- task: ComponentGovernanceComponentDetection@0
  displayName: Component Governance

Remove unused HybridConnectionWebSocketServer
  ts/src/connections/hybridConnectionsWebSocketServer.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

convert pdbs to windows format as part of cs-ci build
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
  cs/build/build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

publish symbols to build drop
  .pipelines/cs-ci-build.yaml
Due: none

fix exe
  .pipelines/cs-build-steps.yaml
Due: none

Add step to publish symbols to symweb
  .pipelines/cs-ci-build.yaml
Due: none

re-enable nuget publish with snupkg included
  .pipelines/cs-ci-build.yaml
Due: none

remove extra whitespace
  .pipelines/cs-build-steps.yaml
  cs/NuGet.config
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update symbol expiry to 30 days
  .pipelines/cs-ci-build.yaml
Due: none

move snupkg properties to Directory.Build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.props
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Package and publish symbols separately from DLLs (#183)
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
  cs/NuGet.config
  cs/build/build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.props
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

specify version of nuget to install
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
  .pipelines/cs-pr-build.yaml
Due: none

Add nuget help command to test
  .pipelines/cs-pr-build.yaml
Due: none

revert PR changes
  .pipelines/cs-pr-build.yaml
Due: none

change to nuget version 6.4.x
  .pipelines/cs-ci-build.yaml
Due: none

Specify nuget version 6.4.x in build pipeline (#184)
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
Due: none

Remove unused HybridConnectionWebSocketServer (#185)
  ts/src/connections/hybridConnectionsWebSocketServer.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove snupkg from nuget publish step
  .pipelines/cs-ci-build.yaml
Due: none

remove snupkg from nuget publish step (#186)
  .pipelines/cs-ci-build.yaml
Due: none

Fix missing Implementation-Version from Java manifest
  java/README.md
  java/pom.xml
Due: none

Fix missing Implementation-Version from Java manifest (#187)
  java/README.md
  java/pom.xml
Due: none

fix: rust build errors
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/contracts/tunnel_authentication_schemes.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_header_names.rs
  rs/src/contracts/tunnel_protocol.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix: rust build errors (#188)
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/contracts/tunnel_authentication_schemes.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_header_names.rs
  rs/src/contracts/tunnel_protocol.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: support HTTP_PROXY
  .vscode/settings.json
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
Due: none

Fix TS SSH sesion config
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TS SSH sesion config (#190)
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update Dev Tunnels SSH package
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update Dev Tunnels SSH package (#192)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

remove empty query from every Rust request URI
  rs/src/management/http_client.rs
Due: none

Add rust package version to agent header
  rs/src/management/http_client.rs
Due: none

Add test for user agent header
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/management/http_client.rs
Due: none

cleanup names
  rs/src/management/http_client.rs
Due: none

Add tests for query building
  rs/src/management/http_client.rs
Due: none

Run formatter
  rs/src/management/http_client.rs
Due: none

Run formatter
  rs/CONTRIBUTING.md
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_port.rs
Due: none

Fix rust agent header and empty query string (#193)
  rs/CONTRIBUTING.md
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: none

Negotiate connection protocol version
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix mock
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Negotiate relay connection protocol version (#194)
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add license, author, and LICENSE file to ts packages
  ts/src/connections/LICENSE
  ts/src/connections/package.json
  ts/src/contracts/LICENSE
  ts/src/contracts/package.json
  ts/src/management/LICENSE
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add license property to root package.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
