Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Remove internal usage of ValidateTokenExpiration. (#393)
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/connections/package.json
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelSession.ts
  ts/src/management/package.json
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelPlanTokenProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: allow parsing proxies given as full URIs
  rs/src/connections/errors.rs
  rs/src/connections/ws.rs
Due: .pipelines/rust-pr-build.yaml

rs: allow parsing proxies given as full URIs (#394)
  rs/src/connections/errors.rs
  rs/src/connections/ws.rs
Due: .pipelines/rust-pr-build.yaml

Update README.md
  README.md
Due: none

Update README.md (#395)
  README.md
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines
  .pipelines/typescript-build-and-publish.yaml
Due: none

remove old
  .pipelines/typescript-build-and-publish.yaml
Due: none

add newline at end of file
  .pipelines/typescript-build-and-publish.yaml
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines (#396)
  .pipelines/typescript-build-and-publish.yaml
Due: none

adding original exception message
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

updating ts package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update versions
  .pipelines/typescript-build-and-publish.yaml
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update versions (#399)
  .pipelines/typescript-build-and-publish.yaml
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update displayed error message
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fixed debugging related error
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

reset file
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

reset file to the version from the main branch
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

added code changes
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding space
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fixed json parsing to avoid exceptiosn; updated ErrorDetails
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

removed unused 'using'
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

removed extra lines
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

removing catch
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

updating to latest version
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

TLS Cert Exception (#366)
  cs/src/Management/TunnelManagementClient.cs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

merge conflicts - extra spaces
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

reset file to teh version from the main branch
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

readded code
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update displayed error message for enterprise policies (#405)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Bump `es5-ext` to version 0.10.64 to resolve CVE-2024-27088
  ts/package-lock.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Disambiguate Tunnel connection is disposed error
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package version
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update from CR comments
  ts/src/connections/tunnelConnectionBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Disambiguate `tunnel connection is disposed` error (#411)
  ts/src/connections/package.json
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: fix policy registry key name
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

rs: fix policy registry key name (#415)
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

update response handling
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
