Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml

.pipelines/cs-ci-build.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

steps:
- template: cs-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: Install NBGV tool
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv

- script: nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Minimal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'

.pipelines/cs-pr-build.yaml:

pool:
  name: Azure Pipelines

# Run build on all PRs.
pr:
  autoCancel: true
  paths:
    include:
    - cs

steps:
- template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

steps:
- template: csharp-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: Install NBGV tool
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv

- script: nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Minimal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'

.pipelines/typescript-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to TypeScript directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - ts

pr: none

steps:
- template: typescript-build-steps.yaml

- task: Npm@1
  displayName: 'Publish packages to internal feed'
  inputs:
    command: custom
    workingDir: ts
    verbose: false
    customCommand: 'run publish'

host: session/server conn, channel + request handling, port forwarding (#16)
  go/go.mod
  go/go.sum
  go/host.go
  go/host_server.go
  go/ssh/client_session.go
  go/ssh/host_session.go
  go/ssh/messages/port_forward_channel_open.go
  go/ssh/messages/port_forward_success.go
  go/ssh/session.go
Due: none

Add session close, connect to URI, and has forwarded channels property to cs client
  cs/src/Connections/SshPfsClientBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix req type check
  go/host_server.go
Due: none

update test
  go/host_test.go
Due: none

Migrate some C# tests over to SDK repo
  .pipelines/cs-build-steps.yaml
  cs/Directory.Build.props
  cs/Directory.Build.targets
  cs/TunnelsSDK.sln
  cs/build/build.targets
  cs/build/test.targets
  cs/src/Directory.Build.props
  cs/src/Directory.Build.targets
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TaskExtensions.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add session close, connect to URI, and has forwarded channels property to ts client
  ts/.vscode/launch.json
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml

Fix code coverage task input paths
  .pipelines/cs-build-steps.yaml
Due: none

Fix code coverage task input paths (2)
  .pipelines/cs-build-steps.yaml
Due: none

Fix code coverage task input paths (3)
  .pipelines/cs-build-steps.yaml
Due: none

Remove unused coverage report directory arg
  .pipelines/cs-build-steps.yaml
Due: none

Migrate some C# tests over to SDK repo (#19)
  .pipelines/cs-build-steps.yaml
  cs/Directory.Build.props
  cs/Directory.Build.targets
  cs/TunnelsSDK.sln
  cs/build/build.targets
  cs/build/test.targets
  cs/src/Directory.Build.props
  cs/src/Directory.Build.targets
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TaskExtensions.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add isSshSessionActive, hasForwardedChannels(port), (#20)
  cs/src/Connections/SshPfsClientBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  ts/.vscode/launch.json
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml

Missing changes from https://dev.azure.com/devdiv/OnlineServices/_git/vsclk-core/pullrequest/384410?_a=files&path=/src/Tunnel/Src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelManagementClientExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add start of host functionality (#11)
  go/client.go
  go/forwarded_ports.go
  go/go.mod
  go/go.sum
  go/host.go
  go/host_server.go
  go/host_test.go
  go/socket.go
  go/ssh/client_session.go
  go/ssh/host_session.go
  go/ssh/messages/port_forward_channel_open.go
  go/ssh/messages/port_forward_success.go
  go/ssh/session.go
Due: none

Missing changes from https://dev.azure.com/devdiv/OnlineServices/_git/vsclk-core/pullrequest/384410?_a=files&path=/src/Tunnel/Src/Contracts/TunnelAccessSubject.cs (#21)
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelManagementClientExtensions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Enable signing in tunnel SDK builds
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
  .pipelines/cs-pr-build.yaml
  .pipelines/typescript-pr-build.yaml
  cs/build/35MSSharedLib1024.snk
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Enable signing in tunnel SDK builds (#18)
  .pipelines/cs-build-steps.yaml
  .pipelines/cs-ci-build.yaml
  .pipelines/cs-pr-build.yaml
  .pipelines/typescript-pr-build.yaml
  cs/build/35MSSharedLib1024.snk
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Switch strongname public key
  cs/build/35MSSharedLib1024.snk
  cs/build/PublicKey.snk
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Switch strongname public key (#22)
  cs/build/35MSSharedLib1024.snk
  cs/build/PublicKey.snk
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add TunnelOptions.isGlobalAccess
  cs/src/Contracts/TunnelOptions.cs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml

start moving things around
  go/client.go
  go/host.go
  go/host_server.go
  go/host_test.go
  go/remote_forwarded_ports.go
  go/ssh/forwarded_ports.go
  go/ssh/host_session.go
  go/ssh/port_forwarding_manager.go
Due: none

remove other unused fields
  go/ssh/port_forwarding_manager.go
Due: none

add config to connect to server
  go/ssh/host_session.go
Due: none

fix loop variables
  go/host.go
Due: none

fix loop variables (#25)
  go/host.go
Due: none

Change option name
  cs/src/Contracts/TunnelOptions.cs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml

Add TunnelOptions.isGloballyAvailable (#23)
  cs/src/Contracts/TunnelOptions.cs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml

no basis
  .github/workflows/check-basis.yml
Due: none

.
  .github/workflows/check-basis.yml
Due: none

.2
  .github/workflows/check-basis.yml
Due: none

fix offending code
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix exit code logic
  .github/workflows/check-basis.yml
Due: none

try again
  .github/workflows/check-basis.yml
Due: none

t1
  .github/workflows/check-basis.yml
Due: none

Check for no basis (#27)
  .github/workflows/check-basis.yml
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Local port forwarder implementation
  go/ssh/local_port_forwarder.go
  go/ssh/local_port_forwarder_test.go
Due: none

Include channel message change
  go/ssh/messages/port_forward_channel_open.go
Due: none

update userAgents
  go/host_test.go
  go/manager_test.go
Due: none

update userAgents (#29)
  go/host_test.go
  go/manager_test.go
Due: none

send both user agents as one header
  go/manager.go
Due: none
