Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Remove reference to "basis"
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Enable partial updates
  go/manager.go
  go/manager_test.go
Due: none

Update generated isGloballyAvailable
  go/tunnel_options.go
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Don't use pointers for arrays and maps
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/client.go
  go/client_test.go
  go/manager.go
  go/manager_test.go
  go/problem_details.go
  go/tunnel.go
  go/tunnel_access_subject.go
  go/tunnel_endpoint.go
  go/tunnel_port.go
  go/tunnels.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix build errors
  cs/src/Connections/LiveShareRelayTunnelHost.cs
  cs/src/Connections/TunnelHostBase.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/tunnel_endpoint.go
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Disable linting for generated TS code
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnel_access_control.go
  go/tunnel_access_control_entry.go
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/liveShareRelayTunnelEndpoint.ts
  ts/src/contracts/localNetworkTunnelEndpoint.ts
  ts/src/contracts/problemDetails.ts
  ts/src/contracts/serviceVersionDetails.ts
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/contracts/tunnelAccessSubject.ts
  ts/src/contracts/tunnelAuthenticationSchemes.ts
  ts/src/contracts/tunnelConnectionMode.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelHeaderNames.ts
  ts/src/contracts/tunnelOptions.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelProtocol.ts
  ts/src/contracts/tunnelRelayTunnelEndpoint.ts
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelStatus.ts
  ts/src/management/tunnelManagementClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove unused createHybridRpcServerProvider (#53)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/createHybridRpcServerProvider.ts
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

move file
  go/NOTICE.txt
Due: none

client comments
  go/client.go
Due: none

Add LICENSE to Go SDK (#50)
  go/NOTICE.txt
Due: none

Add manager comments
  go/manager.go
Due: none

satisfy linter
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketAcceptor.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketAcceptorHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnectionHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactoryFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

docs in request options
  go/request_options.go
Due: none

Update go tunnel constraints generation
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/tunnel_constraints.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add doc to request options
  go/request_options.go
Due: none

formatting
  go/request_options.go
Due: none

rename class
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketAcceptor.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

clean up connection handler
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnectionHandler.java
Due: none

update dependencies
  java/pom.xml
Due: none

update listener logic
  go/client.go
  go/client_test.go
Due: none

imports
  go/client_test.go
Due: none

comment
  go/client.go
Due: none

Add example and writeup
  go/examples/example.go
  go/examples/getting_started.md
  go/manager.go
  go/manager_test.go
Due: none

wording
  go/examples/getting_started.md
Due: none

speling
  go/examples/getting_started.md
Due: none

use env var
  go/examples/example.go
  go/examples/getting_started.md
Due: none

Update go/manager.go
  go/manager.go
Due: none

update comments
  go/manager.go
  go/request_options.go
Due: none

fix comment
  go/client.go
Due: none

one last period
  go/client.go
Due: none

Add Example file for go client (#57)
  go/examples/example.go
  go/examples/getting_started.md
  go/manager.go
  go/manager_test.go
Due: none

fix example file
  go/examples/example.go
Due: none

Access policy support in SDK
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnel_access_control_entry.go
  go/tunnel_access_scopes.go
  go/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update AllScopes
  cs/src/Contracts/TunnelAccessScopes.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix NPE in java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Add documentation to all exported functions (#54)
  go/client.go
  go/manager.go
  go/request_options.go
Due: none

Access policy support in SDK (#58)
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnel_access_control_entry.go
  go/tunnel_access_scopes.go
  go/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
