Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

host cs reconnect
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

updated host reconnect
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Move search tags to request options
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/manager.go
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Improve doc-comments for requireAllTags
  cs/src/Management/TunnelRequestOptions.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix whitespace, update go tags doc
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
Due: none

Move search tags to request options (#98)
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/manager.go
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update min ssh versions
  cs/build/build.props
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update to 3.7.1
  cs/build/build.props
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update min ssh package versions (#100)
  cs/build/build.props
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add flatten plugin to correctly resolve revision variable in mvn deploy
  java/pom.xml
Due: none

update connections package file
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package.json
  ts/package-lock.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add flatten plugin to correctly resolve revision variable in mvn deploy (#101)
  java/pom.xml
Due: none

Update ssh versions in ts connections (#102)
  ts/package-lock.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package version to get re-forward fix
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove unused reference to rustc-serialize
  rs/Cargo.lock
  rs/Cargo.toml
Due: none

Update connections package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package version to get re-forward fix (#104)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove unused reference to rustc-serialize (#105)
  rs/Cargo.lock
  rs/Cargo.toml
Due: none

add mocha trx reporter
  ts-mocha-trx-reporter/.gitignore
  ts-mocha-trx-reporter/.npmrc
  ts-mocha-trx-reporter/README.md
  ts-mocha-trx-reporter/package-lock.json
  ts-mocha-trx-reporter/package.json
  ts-mocha-trx-reporter/src/generateTrx.ts
  ts-mocha-trx-reporter/src/index.ts
  ts-mocha-trx-reporter/src/testUtils/contracts/ICounters.ts
  ts-mocha-trx-reporter/src/testUtils/contracts/ITestRun.ts
  ts-mocha-trx-reporter/src/testUtils/contracts/ITestRunOptions.ts
  ts-mocha-trx-reporter/src/testUtils/contracts/ITests.ts
  ts-mocha-trx-reporter/src/testUtils/formatter.ts
  ts-mocha-trx-reporter/src/testUtils/testRun.ts
  ts-mocha-trx-reporter/src/trxReporter.ts
  ts-mocha-trx-reporter/tsconfig.json
  ts/.npmrc
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Redact tokens from log, check expiration on client
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/src/Management/TunnelManagementClient.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/index.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: fix inherited classes, add tunnel endpoint update method
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Remove unused line
  ts/src/management/tunnelAccessTokenProperties.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Redact tokens from log, check expiration on client (#107)
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/src/Management/TunnelManagementClient.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/index.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add SshUser to Port and PortSshCommandFormat to TunnelEndpoint Required for supporting CLI changes for SSH Gateway
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add java implementation for getPortSshCommand
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
Due: none

Implement getPortSshCommand for typescript
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix ESLint failure for \n in EOF
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix line endings
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Addressing PR comments
  cs/src/Contracts/TunnelEndpoint.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Generated files for variable name change
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TS and Java build
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add SshUser to Port and PortSshCommandFormat to TunnelEndpoint (#109)
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelEndpointStatics.ts
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Make SDK cs client reconnect SSH host and client session
  cs/src/Connections/ConnectionStatus.cs
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelConnector.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RefreshingTunnelAccessTokenEventArgs.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelClientBase.cs
  cs/src/Connections/TunnelHostBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/LocalPortsFixture.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

More code review feedback
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix ConnectionStatusChangedEventArgs ctor, add unit tests.
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix tunnel host disposal not stopping client sessions
  cs/src/Connections/TunnelBase.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Enable reconnect only if connector is set in cs tunnel clients
  cs/src/Connections/TunnelClientBase.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Pass correct exception to SSH session close
  cs/src/Connections/RelayTunnelConnector.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Dispose of SSH session after closing it in Tunnel clients
  cs/src/Connections/TunnelClientBase.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml
