Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

First check that the dir and file exists
  .github/workflows/go.yml
Due: none

Update user-agent in SDKs to use Dev-Tunnels-Service (#226)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  rs/src/management/http_client.rs
  ts/src/management/version.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

test commit
  .github/workflows/go.yml
  go/tunnels/manager.go
Due: none

revert
  go/tunnels/manager.go
Due: none

test commit to revert
  go/tunnels/manager.go
Due: none

Update logic
  .github/workflows/go.yml
Due: none

add fetch-depth for git diff to work
  .github/workflows/go.yml
Due: none

fix fetch depth
  .github/workflows/go.yml
Due: none

another test
  go/tunnels/tunnels.go
Due: none

diag
  .github/workflows/go.yml
Due: none

t
  .github/workflows/go.yml
  go/tunnels/manager.go
  go/tunnels/tunnels.go
Due: none

test1
  .github/workflows/go.yml
  go/tunnels/manager.go
Due: none

diag1
  .github/workflows/go.yml
Due: none

diag2
  .github/workflows/go.yml
Due: none

diag3
  .github/workflows/go.yml
Due: none

test1
  .github/workflows/go.yml
Due: none

test-should pass
  go/tunnels/tunnels.go
Due: none

done
  go/tunnels/manager.go
  go/tunnels/tunnels.go
Due: none

send err to stderr
  .github/workflows/go.yml
Due: none

Port connection protocol v2 to TS SDK
  cs/src/Connections/TunnelClient.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/messages/portRelayConnectRequestMessage.ts
  ts/src/connections/messages/portRelayConnectResponseMessage.ts
  ts/src/connections/messages/portRelayRequestMessage.ts
  ts/src/connections/package.json
  ts/src/connections/sessionPortKey.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/package.json
  ts/src/management/package.json
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Optional E2E encryption for TS connections
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Verify host public keys (TS)
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update russh dependency for dependabot alerts
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
Due: none

Track websocket subprotocol
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix v2 host port forwarding
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update russh dependency for dependabot alerts (#228)
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
Due: none

Go SDK: Ensure tunnels.go is updated when there's a change to the go sdk folder (#227)
  .github/workflows/go.yml
Due: none

rust: disable default features in chrono
  rs/Cargo.lock
  rs/Cargo.toml
Due: none

Port connection protocol v2 to TS SDK
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/messages/portRelayConnectRequestMessage.ts
  ts/src/connections/messages/portRelayConnectResponseMessage.ts
  ts/src/connections/messages/portRelayRequestMessage.ts
  ts/src/connections/package.json
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sessionPortKey.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/contracts/package.json
  ts/src/management/package.json
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Move connectionProtocol property to shared base
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rust: disable default features in chrono (#230)
  rs/Cargo.lock
  rs/Cargo.toml
Due: none

Port connection protocol v2 to TS SDK (#231)
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/messages/portRelayConnectRequestMessage.ts
  ts/src/connections/messages/portRelayConnectResponseMessage.ts
  ts/src/connections/messages/portRelayRequestMessage.ts
  ts/src/connections/package.json
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sessionPortKey.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/contracts/package.json
  ts/src/management/package.json
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add NamedRateStatus
  cs/src/Contracts/NamedRateStatus.cs
  cs/src/Contracts/RateStatus.cs
  go/tunnels/resource_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/NamedRateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  rs/src/contracts/mod.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/rate_status.rs
  ts/src/contracts/namedRateStatus.ts
  ts/src/contracts/rateStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

bump go package version
  go/tunnels/tunnels.go
Due: none

Add NamedRateStatus (#232)
  cs/src/Contracts/NamedRateStatus.cs
  cs/src/Contracts/RateStatus.cs
  go/tunnels/resource_status.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/NamedRateStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  rs/src/contracts/mod.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/rate_status.rs
  ts/src/contracts/namedRateStatus.ts
  ts/src/contracts/rateStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package versions
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package versions (#233)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add a LimitSource property to ResourceStatus
  cs/src/Contracts/ResourceStatus.cs
  go/tunnels/resource_status.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  rs/src/contracts/resource_status.rs
  ts/src/contracts/resourceStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add a LimitSource property to ResourceStatus (#234)
  cs/src/Contracts/ResourceStatus.cs
  go/tunnels/resource_status.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/ResourceStatus.java
  rs/src/contracts/resource_status.rs
  ts/src/contracts/resourceStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

adding rust ci pipeline
  .pipelines/rust-build-steps.yaml
  .pipelines/rust-pr-build.yaml
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
