Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

versions
  cs/version.json
  ts/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

test different build versions
  cs/version.json
  ts/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "manually add version (#359)" (#362)
  cs/Directory.Build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package versions
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update versioning
  cs/version.json
  ts/version.json
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Allow client app to cancel fwd of specific ports
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/PortForwardingEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/portForwardingEventArgs.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Allow client app to cancel fwd of specific ports (#370)
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/PortForwardingEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/portForwardingEventArgs.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use dotnet SDK 6.0.417.
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add report progress
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

replace reportProgress callback with event
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update packages ssh ssh-tcp to v3.11.34
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- update with SSH 3.11.35 - consume SshReportProgressEventArgs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add connection report progress infrastructure (#372)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove extra version files
  cs/version.json
  ts/version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add enum for apiVersion in cs and ts
  cs/src/Management/ManagementApiVersions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/managementApiVersions.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "add enum for apiVersion in cs and ts"
  cs/src/Management/ManagementApiVersions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/managementApiVersions.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add enum in C# and TS
  cs/src/Management/ManagementApiVersions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/managementApiVersions.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Move enum file
  ts/src/management/managementApiVersions.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix test
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

package link
  ts/package-lock.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add comment
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add enum for Api Version in C# and TS (#373)
  cs/src/Management/ManagementApiVersions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update Nerdbank Versioning in TS and CS (#369)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package versions
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add ReportProgress infrastructure
  cs/build/build.props
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add ReportProgress infrastructure (#375)
  cs/build/build.props
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

go version
  go/tunnels/tunnels.go
Due: none

Report Progress add events
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Feedback from PR comments - separate SSH Progress events from tunnel progress events
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelReportProgressEventArgs.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  go/tunnels/tunnel_progress.go
  go/tunnels/tunnel_report_progress_event_args.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProgress.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelReportProgressEventArgs.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_progress.rs
  rs/src/contracts/tunnel_report_progress_event_args.rs
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelProgress.ts
  ts/src/contracts/tunnelReportProgressEventArgs.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update go package version
  go/tunnels/tunnels.go
Due: none

Implement Progress events to help diagnose RefreshPorts & Tunnel Service Requests (#377)
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelReportProgressEventArgs.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  go/tunnels/tunnel_progress.go
  go/tunnels/tunnel_report_progress_event_args.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProgress.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelReportProgressEventArgs.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_progress.rs
  rs/src/contracts/tunnel_report_progress_event_args.rs
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelProgress.ts
  ts/src/contracts/tunnelReportProgressEventArgs.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update dev-tunnels-ssh(-tcp) to 3.11.36
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update dev-tunnels-ssh(-tcp) to 3.11.36 (#378)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Require new packages for TS interdependencies (#358)
  .github/pull_request_template.md
  ts/README-dev.md
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

capitalizing T
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix check name query
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix check name query (#380)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

catching exceptions with sendasync
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding error catch
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
