Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Fix tests after merge from main
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump vs-ssh dependency to 3.7.6
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add manage:ports access scope
  cs/src/Contracts/TunnelAccessControl.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/access_scopes.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/request_options.go
  go/tunnels/tunnel_access_scopes.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/Cargo.lock
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/contracts/tunnelAccessControlStatics.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Support manage:ports scope in auto token selection
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix java build error
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
Due: none

Fix go build
  go/tunnels/manager_test.go
Due: none

Fix TS build
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix go build error (2)
  go/tunnels/manager_test.go
Due: none

Small updates for review feedback
  cs/src/Contracts/TunnelAccessControl.cs
  go/tunnels/manager_test.go
  ts/src/contracts/tunnelAccessControlStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix read access scopes list
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add manage:ports access scope (#123)
  cs/src/Contracts/TunnelAccessControl.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/access_scopes.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/request_options.go
  go/tunnels/tunnel_access_scopes.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/Cargo.lock
  rs/src/contracts/tunnel_access_scopes.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/contracts/tunnelAccessControlStatics.ts
  ts/src/contracts/tunnelAccessScopes.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

PR feedback
  ts/src/connections/index.ts
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryingTunnelConnectionEventArgs.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

More PR feedback
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Get access token from space-delimited scopes in tunnel
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelAccessTokenPropertiesTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update cluster details
  cs/src/Contracts/ClusterDetails.cs
  go/tunnels/cluster_details.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  rs/src/contracts/cluster_details.rs
  ts/src/contracts/clusterDetails.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update list clusters comment
  cs/src/Management/ITunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update Java SDK
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update typescript SDK
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: allow rebuilding the client with new options
  rs/src/management/http_client.rs
  rs/src/management/tunnel_locator.rs
Due: none

Use dotnet SDK 6.0.400
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

rs: implement initial host relay
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/host_relay.rs
  rs/src/connections/io.rs
  rs/src/connections/mod.rs
  rs/src/connections/ws.rs
  rs/src/lib.rs
  rs/src/management/http_client.rs
Due: none

Use dotnet SDK 6.0.400 (#125)
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

TS tunnel SDK SSH reconnection (#121)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/connectionStatus.ts
  ts/src/connections/connectionStatusChangedEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/package.json
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryingTunnelConnectionEventArgs.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/testMultiChannelStream.ts
  ts/test/tunnels-test/tunnelAccessTokenPropertiesTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add client connection test for local developement
  .github/workflows/maven.yml
  java/README.md
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

update readme
  java/README.md
Due: none

Enable Java tests for local development (#126)
  .github/workflows/maven.yml
  java/README.md
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

update go api
  go/tunnels/manager.go
Due: none

Update README.md
  README.md
Due: none

Java refresh-ports API, logging, more improvements
  java/.gitignore
  java/README.md
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/connections/SshException.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelConnectionException.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelRelayTunnelClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

Revise readme
  java/README.md
Due: none

Update README.md (#128)
  README.md
Due: none

Add logging comments
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

Java refresh-ports API, logging, more improvements (#129)
  java/.gitignore
  java/README.md
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/connections/SshException.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelConnectionException.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelRelayTunnelClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

Skip tests when publishing Java package
  .github/workflows/java-sdk-release.yml
Due: none

Skip tests when publishing Java package (#130)
  .github/workflows/java-sdk-release.yml
Due: none

use published ruush versions
  rs/Cargo.toml
Due: none

improve logging, key exchange, pk handling
  rs/src/connections/host_relay.rs
Due: none

address pr comments
  rs/src/connections/host_relay.rs
  rs/src/connections/io.rs
  rs/src/connections/ws.rs
Due: none

fix readbuffer dropping bytes
  rs/src/connections/io.rs
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
