Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Updated GitHub app ids for new apps and created new config for running service locally, and updated for all languages
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Added go manager changes for new app ids that isn't generated
  go/tunnels/manager.go
Due: none

Bumped tunnels sdk version for go for github app id changes
  go/tunnels/tunnels.go
Due: none

Modified and commited non-generated files for ts, rust, and java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Split non-prod GitHub App into separate per-environment apps and new environment config for running service Locally (#620)
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TLS certificate validation in Java SDK WebSocket relay connections For Sev2.5 31000000590337
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
Due: none

Fix TLS certificate validation in Java SDK WebSocket relay connections (#623)
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
Due: none

rust: update dependencies
  rs/.vscode/settings.json
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_event.rs
  rs/src/management/authorization.rs
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
  rs/src/tunnel.rs
Due: .pipelines/rust-pr-build.yaml

hyper and reqwest to latest
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/ws.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

pr comments and clippy warnings
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/management/authorization.rs
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

Updated DEV service app ids to new 3pa, updated all non-generated files in all languages and updated go version
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Regenerated the sdk and commiting modified files with new 3pa app id
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Updated the dependencies in package.json for connections and management to require a dependency that is > the current published version
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fixed old constant i forgot to manually replace for new 3pa dev app id.
  rs/src/contracts/tunnel_environments.rs
Due: .pipelines/rust-pr-build.yaml

Update DEV environment 3PA app IDs for new Tunnels 3PA DEV app in Test Tenant (#625)
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rust: implement relay client
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/mod.rs
  rs/src/connections/relay_tunnel_client.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

comments
  .vscode/settings.json
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/.vscode/settings.json
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_client.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/error_detail.rs
  rs/src/contracts/inner_error_detail.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_event.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_report_progress_event_args.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Fixes the 9 issues raised in code review of #613:
  .github/workflows/swift.yml
  swift/Package.swift
  swift/Sources/DevTunnelsClient/Connections/PortForwardMessages.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayClient.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayConfig.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayStream.swift
  swift/Sources/DevTunnelsClient/Management/TunnelManagementClient.swift
  swift/Tests/DevTunnelsClientTests/ManagementClientTests.swift
  swift/Tests/DevTunnelsClientTests/PortForwardMessageTests.swift
  swift/Tests/DevTunnelsClientTests/TunnelRelayClientTests.swift
  swift/Tests/DevTunnelsClientTests/WebSocketFrameHandlerTests.swift
Due: none

Update dev-tunnels-ssh package
  .gitignore
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update dev-tunnels-ssh package (#628)
  .gitignore
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rust: implement relay client (#626)
  .vscode/settings.json
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/mod.rs
  rs/src/connections/relay_tunnel_client.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/error_detail.rs
  rs/src/contracts/inner_error_detail.rs
  rs/src/contracts/local_network_tunnel_endpoint.rs
  rs/src/contracts/named_rate_status.rs
  rs/src/contracts/problem_details.rs
  rs/src/contracts/rate_status.rs
  rs/src/contracts/resource_status.rs
  rs/src/contracts/service_version_details.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_access_subject.rs
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_event.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  rs/src/contracts/tunnel_options.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_port_status.rs
  rs/src/contracts/tunnel_relay_tunnel_endpoint.rs
  rs/src/contracts/tunnel_report_progress_event_args.rs
  rs/src/contracts/tunnel_status.rs
  rs/src/management/authorization.rs
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
  rs/src/tunnel.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Use the new local dnsname
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update go package version
  go/tunnels/tunnels.go
Due: none

Use the new local dnsname (#630)
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove quarantined es5-ext dependency
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Replace websocket with ws to eliminate es5-ext
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use latest SSH packages
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add cluster recommendations API support to SDKs
  cs/src/Contracts/ClusterAvailability.cs
  cs/src/Contracts/ClusterRecommendation.cs
  cs/src/Contracts/ClusterRecommendationResponse.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/cluster_availability.go
  go/tunnels/cluster_recommendation.go
  go/tunnels/cluster_recommendation_response.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/request_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterAvailability.java
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterRecommendation.java
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterRecommendationResponse.java
  rs/src/contracts/cluster_availability.rs
  rs/src/contracts/cluster_recommendation.rs
  rs/src/contracts/cluster_recommendation_response.rs
  rs/src/contracts/mod.rs
  ts/src/contracts/clusterAvailability.ts
  ts/src/contracts/clusterRecommendation.ts
  ts/src/contracts/clusterRecommendationResponse.ts
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add cluster recommendations API support to SDKs (#653)
  cs/src/Contracts/ClusterAvailability.cs
  cs/src/Contracts/ClusterRecommendation.cs
  cs/src/Contracts/ClusterRecommendationResponse.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/cluster_availability.go
  go/tunnels/cluster_recommendation.go
  go/tunnels/cluster_recommendation_response.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/request_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterAvailability.java
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterRecommendation.java
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterRecommendationResponse.java
  rs/src/contracts/cluster_availability.rs
  rs/src/contracts/cluster_recommendation.rs
  rs/src/contracts/cluster_recommendation_response.rs
  rs/src/contracts/mod.rs
  ts/src/contracts/clusterAvailability.ts
  ts/src/contracts/clusterRecommendation.ts
  ts/src/contracts/clusterRecommendationResponse.ts
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use latest SSH packages (#652)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Potential fix for pull request finding
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/check-basis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go.yml
  .github/workflows/java-sdk-release.yml
  .github/workflows/maven.yml
  .github/workflows/rust.yml
Due: none

Bump Microsoft.DevTunnels.Ssh to 3.12.40 to pick up channel cancellation deadlock fix
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Bump Microsoft.DevTunnels.Ssh to 3.12.40 to pick up channel cancellation deadlock fix (#661)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Pin GitHub Actions to full-length commit SHAs (#662)
  .github/dependabot.yml
  .github/workflows/check-basis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go.yml
  .github/workflows/java-sdk-release.yml
  .github/workflows/maven.yml
  .github/workflows/rust.yml
Due: none

Update Dev Tunnels SSH dependency to 3.12.42
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Switch ESRP service connection to wif2 to fix npm publish
  .pipelines/typescript-build-and-publish.yaml
Due: none

Fix TypeScript create precondition headers
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
