Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Add default SSH command and default web uri
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix file formatting
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Rename to TunnelUri and TunnelSshCommand
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fixing the comment
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add default SSH command and default web uri (#131)
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelEndpointStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

one last io fix...
  rs/src/connections/io.rs
Due: none

Implement get ssh keys in TunnelManagementClient
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use httpget for ssh keys api
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix the API path
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Tunnel ssh key response
  cs/src/Contracts/TunnelSshKeyResponse.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/tunnel_ssh_key_response.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelSshKeyResponse.java
  rs/src/contracts/tunnel_ssh_key_response.rs
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelSshKeyResponse.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

initial message request
  go/tunnels/client.go
  go/tunnels/ssh/messages/readers.go
  go/tunnels/ssh/messages/session_request_message.go
Due: none

add session request func
  go/tunnels/ssh/session.go
Due: none

add request message
  go/tunnels/client.go
Due: none

remove unused file
  go/tunnels/client.go
  go/tunnels/ssh/messages/session_request_message.go
Due: none

remove unused func
  go/tunnels/ssh/messages/readers.go
Due: none

Add go RefreshPorts API (#132)
  go/tunnels/client.go
  go/tunnels/ssh/session.go
Due: none

update
  go/tunnels/tunnels.go
Due: none

update (#133)
  go/tunnels/tunnels.go
Due: none

Add cluster details for list clusters API (#122)
  cs/src/Contracts/ClusterDetails.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/cluster_details.go
  go/tunnels/manager.go
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/contracts/cluster_details.rs
  rs/src/contracts/mod.rs
  ts/src/contracts/clusterDetails.ts
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix formatting
  go/tunnels/tunnel_ssh_key_response.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelSshKeyResponse.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_ssh_key_response.rs
  ts/src/contracts/tunnelSshKeyResponse.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Increase SSH channel window size for host sessions
  cs/build/build.props
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Increase SSH channel window size for host sessions (#135)
  cs/build/build.props
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update russh
  rs/Cargo.toml
Due: none

fix: temporarily use vscode build for russh
  rs/Cargo.toml
Due: none

create new duration for refreshPortsAsync call
  java/src/main/java/com/microsoft/tunnels/connections/TunnelRelayTunnelClient.java
Due: none

address some pr comments
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/mod.rs
  rs/src/connections/relay_tunnel_host.rs
Due: none

Add ssh gateway public key to tunnel endpoint
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add ssh gateway public key to tunnel endpoint (#136)
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: implement initial host relay (#127)
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/connections/io.rs
  rs/src/connections/mod.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/lib.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_locator.rs
Due: none

Send additional parameter to include ssh gateway public key when calling UpdateTunnelEndpoint api if there is atleast one ssh port
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Use any with expression
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add constant and implement ts tunnelManagementClient
  cs/src/Contracts/TunnelEndpointQueryParameters.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel_endpoint_query_parameters.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointQueryParameters.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_endpoint_query_parameters.rs
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelEndpointQueryParameters.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix lint failure in typescript
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix lint failures
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

AdditionalQueryParams added to TunnelRequestOptions
  cs/src/Management/TunnelRequestOptions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add antiphishing header
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add antiphishing header (#139)
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "Add antiphishing header (#139)"
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add the query parameter if ssh port is present Add AdditionalQueryParams to other languages
  cs/src/Connections/TunnelRelayTunnelHost.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix build failure
  go/tunnels/request_options.go
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
