Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: MicroBuildSigningPlugin@4
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
      azureSubscription: MicroBuild Signing Task (DevDiv)
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: EsrpRelease@9
    inputs:
      ConnectedServiceName: $(EsrpConnectedServiceName)
      UseManagedIdentity: true
      AppRegistrationTenantId: $(EsrpAppRegistrationTenantId)
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Update versions for Dev Tunnels SSH package for C# and TS
  .pipelines/cs-build-steps.yaml
  cs/build/build.props
  cs/global.json
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  samples/ts/client/package-lock.json
  samples/ts/client/package.json
  samples/ts/host/package-lock.json
  samples/ts/host/package.json
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

docs: mark Reconnection as supported for Rust SDK
  README.md
Due: none

feat(rust): implement automatic reconnection with exponential backoff
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

feat(rs): implement SSH keep-alive, token refresh, and SSH-level reconnection
  README.md
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/test/tunnels_test.rs
Due: .pipelines/rust-pr-build.yaml

Update versions for Dev Tunnels SSH package for C# and TS (#602)
  .pipelines/cs-build-steps.yaml
  cs/build/build.props
  cs/global.json
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  samples/ts/client/package-lock.json
  samples/ts/client/package.json
  samples/ts/host/package-lock.json
  samples/ts/host/package.json
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update typescript-build-and-publish.yaml for Azure Pipelines
  .pipelines/typescript-build-and-publish.yaml
Due: none

Update typescript-build-and-publish.yaml for Azure Pipelines (#604)
  .pipelines/typescript-build-and-publish.yaml
Due: none

Add custom domain support to tunnel management SDKs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  rs/src/management/http_client.rs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update TS build nodejs
  .pipelines/typescript-build-steps.yaml
Due: none

Remove net6 target, add net10 target
  cs/Directory.Build.props
  cs/global.json
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/WebSocketStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/FollowRedirectsHttpHandler.cs
  cs/src/Management/TunnelUserAgent.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update packages and fix tests
  cs/build/build.props
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Management/DevTunnels.Management.csproj
  cs/test/TunnelsSDK.Test/TunnelClientEventsTests.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  cs/test/TunnelsSDK.Test/XunitTraceListener.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Progress on tests
  cs/test/TunnelsSDK.Test/AssemblyInfo.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/XunitTraceListener.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Finalize stabilization of tests
  cs/test/TunnelsSDK.Test/TcpListeners.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Undo removal of asserts and disposal
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update to stabilize tests in Linux
  cs/test/TunnelsSDK.Test/TunnelClientEventsTests.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add custom domain support to tunnel management SDKs (#605)
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  rs/src/management/http_client.rs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update TS build nodejs (#606)
  .pipelines/typescript-build-steps.yaml
Due: none

Remove net6 target, add net10 target, stabilize tests (#607)
  cs/Directory.Build.props
  cs/build/build.props
  cs/global.json
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/WebSocketStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/FollowRedirectsHttpHandler.cs
  cs/src/Management/TunnelUserAgent.cs
  cs/test/TunnelsSDK.Test/AssemblyInfo.cs
  cs/test/TunnelsSDK.Test/TcpListeners.cs
  cs/test/TunnelsSDK.Test/TcpUtils.cs
  cs/test/TunnelsSDK.Test/TunnelClientEventsTests.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  cs/test/TunnelsSDK.Test/XunitTraceListener.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update rs/src/connections/errors.rs
  rs/src/connections/errors.rs
Due: .pipelines/rust-pr-build.yaml

Update rs/test/tunnels_test.rs
  rs/test/tunnels_test.rs
Due: .pipelines/rust-pr-build.yaml

Update rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

Update README.md
  README.md
Due: none

feat: add Go SDK host support with V1/V2 relay protocol
  README.md
  go/tunnels/connection_status.go
  go/tunnels/examples/getting_started.md
  go/tunnels/examples/host/host_example.go
  go/tunnels/examples/host_e2e_test.go
  go/tunnels/host.go
  go/tunnels/host_e2e_test.go
  go/tunnels/host_reconnect.go
  go/tunnels/host_test.go
  go/tunnels/manager.go
  go/tunnels/socket.go
  go/tunnels/ssh/client_ssh_stream.go
  go/tunnels/ssh/client_ssh_stream_test.go
  go/tunnels/ssh/host_port_forward_test.go
  go/tunnels/ssh/host_session.go
  go/tunnels/ssh/host_session_test.go
  go/tunnels/ssh/messages/port_forward_cancel_request.go
  go/tunnels/ssh/messages/port_relay_connect_request.go
  go/tunnels/ssh/messages/port_relay_request.go
  go/tunnels/ssh/messages/readers.go
  go/tunnels/test/mock_relay_host.go
  go/tunnels/test/relay_host_server.go
  go/tunnels/tunnel_error.go
  prd.json
  progress.txt
Due: none

Add Swift SDK for Dev Tunnels
  .github/workflows/swift.yml
  .gitignore
  README.md
  swift/.gitignore
  swift/Package.swift
  swift/README.md
  swift/Sources/DevTunnelsClient/Connections/PortForwardMessages.swift
  swift/Sources/DevTunnelsClient/Connections/RelayConnectionState.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelConnection.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayClient.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayConfig.swift
  swift/Sources/DevTunnelsClient/Connections/TunnelRelayStream.swift
  swift/Sources/DevTunnelsClient/Contracts/Enums.swift
  swift/Sources/DevTunnelsClient/Contracts/Tunnel.swift
  swift/Sources/DevTunnelsClient/Contracts/TunnelEndpoint.swift
  swift/Sources/DevTunnelsClient/Contracts/TunnelPort.swift
  swift/Sources/DevTunnelsClient/Contracts/TunnelStatus.swift
  swift/Sources/DevTunnelsClient/Management/APIResponses.swift
  swift/Sources/DevTunnelsClient/Management/DeviceCodeAuth.swift
  swift/Sources/DevTunnelsClient/Management/HTTPClient.swift
  swift/Sources/DevTunnelsClient/Management/TunnelManagementClient.swift
  swift/Sources/DevTunnelsClient/Management/TunnelManagementError.swift
  swift/Sources/DevTunnelsClient/Management/TunnelRequestOptions.swift
  swift/Sources/DevTunnelsClient/Management/TunnelServiceProperties.swift
  swift/Tests/DevTunnelsClientTests/ContractTests.swift
  swift/Tests/DevTunnelsClientTests/DeviceCodeAuthTests.swift
  swift/Tests/DevTunnelsClientTests/IntegrationTests.swift
  swift/Tests/DevTunnelsClientTests/ManagementClientTests.swift
  swift/Tests/DevTunnelsClientTests/PortForwardMessageTests.swift
  swift/Tests/DevTunnelsClientTests/TunnelConnectionTests.swift
  swift/Tests/DevTunnelsClientTests/TunnelRelayClientTests.swift
  swift/Tests/DevTunnelsClientTests/WebSocketFrameHandlerTests.swift
  version.json
Due: none

Add root Package.swift for SPM resolution
  Package.swift
  swift/README.md
Due: none

Fix Swift 5.9 concurrency error in state change tests
  swift/Tests/DevTunnelsClientTests/TunnelRelayClientTests.swift
Due: none

Updated the GitHub App IDs for new apps, and created new properties for running the service locally
  cs/src/Contracts/TunnelServiceProperties.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Split NonProd GitHub App into separate PPE, Dev, and Local apps across all SDK languages
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Updated GitHub app ids for new apps and created new config for running locally, for each language
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bumped go version due to github app changes and new local config
  go/tunnels/tunnels.go
Due: none

Updated to latest main branch and bumped go version
  go/tunnels/tunnels.go
Due: none

Added local dns name for local service uri to not require override later
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/manager.go
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
  rs/src/contracts/tunnel_environments.rs
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Updated the localDnsName to the correct value, tunnels.local.api.visualstudio.com:9901
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
