Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:

pool:
  name: VSEngSS-MicroBuild2022-1ES

# Trigger only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

variables:
  TeamName: "Visual Studio"
  enableSigning: true
  ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    signType: real
    publishNugetPackages: ${{ true }}
  ${{ else }}:
    signType: test
    publishNugetPackages: ${{ false }}

steps:

- task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
  displayName: 'Install Signing Plugin'
  inputs:
    signType: $(signType)

- template: cs-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    nobuild: true
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Normal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    condition: $(publishNugetPackages)

.pipelines/cs-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `cs` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - cs
  autoCancel: true

variables:
  enableSigning: false

steps:
- template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

steps:
- template: csharp-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: Install NBGV tool
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv

- script: nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Minimal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'

.pipelines/typescript-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to TypeScript directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - ts

pr: none

steps:
- template: typescript-build-steps.yaml

- task: Npm@1
  displayName: 'Publish packages to internal feed'
  inputs:
    command: custom
    workingDir: ts
    verbose: false
    customCommand: 'run publish'

.pipelines/typescript-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `ts` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - ts
  autoCancel: true

steps:
- template: typescript-build-steps.yaml

update build path
  .github/workflows/maven.yml
Due: none

Initialize Java SDK folder (#9)
  .github/workflows/maven.yml
  java/.editorconfig
  java/.gitignore
  java/.vscode/launch.json
  java/.vscode/settings.json
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClientBase.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  java/src/main/java/com/microsoft/tunnels/management/HttpMethod.java
  java/src/main/java/com/microsoft/tunnels/management/HttpResponseException.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/ProductHeaderValue.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

PR changes
  cs/src/Management/TunnelManagementClient.cs
  go/manager.go
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update java userAgents
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

add )
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update c# ctor
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

formatting in java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update java exception
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update test
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

update comment
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Update TunnelManagementClients to take in multiple userAgents (#38)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
  go/host_test.go
  go/manager.go
  go/manager_test.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Local port forwarder implementation (#28)
  go/ssh/local_port_forwarder.go
  go/ssh/local_port_forwarder_test.go
  go/ssh/messages/port_forward_channel_open.go
  go/ssh/request.go
  go/ssh/session.go
  go/ssh/session_test.go
Due: none

update default public key algorithm to ecdsa-sha2-nistp384
  cs/src/Connections/TunnelHostBase.cs
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

test setup
  go/client_test.go
  go/go.mod
  go/go.sum
Due: none

update default public key algorithm to ecdsa-sha2-nistp384 (#40)
  cs/src/Connections/TunnelHostBase.cs
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add ssh classes
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketClientHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketService.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactoryFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSshClient.java
Due: none

Correct dev 3rd party app id Required for https://dev.azure.com/devdiv/OnlineServices/_git/tunnels/pullrequest/390383
  cs/src/Contracts/TunnelHeaderNames.cs
  cs/src/Contracts/TunnelServiceProperties.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Correct dev 3rd party app id (#41)
  cs/src/Contracts/TunnelHeaderNames.cs
  cs/src/Contracts/TunnelServiceProperties.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update channel open marsheling
  go/ssh/messages/port_forward_channel_open.go
Due: none

remove comments
  go/ssh/messages/port_forward_channel_open.go
Due: none

test stuff
  go/client_test.go
Due: none

remove test
  go/client_test.go
Due: none

add channel open to cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add channel open to ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update unmarshal
  go/ssh/messages/port_forward_channel_open.go
Due: none

Remove unused files now that SDK does not support Go
  go/forwarded_ports.go
  go/host.go
  go/host_server.go
  go/host_test.go
  go/ssh/host_session.go
Due: none

Adding relay scope Required for https://dev.azure.com/devdiv/OnlineServices/_git/tunnels/pullrequest/390383
  cs/src/Contracts/TunnelAccessScopes.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add comments
  go/client.go
  go/manager.go
  go/ssh/messages/port_forward_channel_open.go
Due: none

update url in manager
  go/manager.go
  go/manager_test.go
Due: none

more comments
  go/manager.go
Due: none

Revert "add comments"
  go/client.go
  go/manager.go
  go/manager_test.go
  go/ssh/messages/port_forward_channel_open.go
Due: none

general fixes
  go/client.go
  go/manager.go
  go/manager_test.go
  go/ssh/messages/port_forward_channel_open.go
Due: none

fix test
  go/host_test.go
Due: none

fix websocket upgrade and add acceptor
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketAcceptor.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

extend netty classes
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketAcceptor.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketClientHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnectionHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketInboundAdapter.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactoryFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSshClient.java
Due: none

remove not needed class
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketService.java
Due: none

Working Go SDK Client (#42)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  go/client.go
  go/go.mod
  go/go.sum
  go/host_test.go
  go/manager.go
  go/manager_test.go
  go/ssh/messages/port_forward_channel_open.go
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

pin es5-ext
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove unused files now that SDK does not support Host (#43)
  go/forwarded_ports.go
  go/host.go
  go/host_server.go
  go/host_test.go
  go/ssh/host_session.go
Due: none

pin es5-ext (#45)
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
