Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

add import
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

format
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

catch ex
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

java import
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update rust
  rs/src/management/http_client.rs
Due: none

update params
  rs/src/management/http_client.rs
Due: none

Add check name availability to SDKs (#169)
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/management/http_client.rs
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add PR template
  .github/pull_request_template.md
Due: none

Add PR template (#170)
  .github/pull_request_template.md
Due: none

Update to latest SSH package version
  cs/build/build.props
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update to latest SSH package version (#171)
  cs/build/build.props
  ts/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add IncludeAccessControl request option
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add IncludeAccessControl request option (#172)
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add inspection to contracts
  cs/src/Contracts/Tunnel.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go version
  go/tunnels/tunnels.go
Due: none

update name
  cs/src/Contracts/Tunnel.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add noop func
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

add noop func (#174)
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

move contract to tunnelOptions
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel.go
  go/tunnels/tunnel_options.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add inspectionEnabled to tunnel contracts (#173)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add port URI map to TunnelEndpoint
  cs/src/Contracts/TunnelEndpoint.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_endpoint.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update go SDK package version
  go/tunnels/tunnels.go
Due: none

Fix double space in the comment
  cs/src/Contracts/TunnelEndpoint.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix java Map type for IDictionary<int, string[]>
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add TunnelEndpoint serialization unit test
  cs/test/TunnelsSDK.Test/TunnelEndpointTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

implement suspend and resumeRead funcs
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

remove unused import
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

update access
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

update semaphore acquire
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

Move port forwarding URIs to TunnelPort
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/test/TunnelsSDK.Test/TunnelEndpointTests.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnel_port.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Implement suspendRead and resumeRead in Java (#177)
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

Remove unused type from Rust contract writer
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

restrict tunnels ending in -inspect
  cs/src/Contracts/TunnelConstraints.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

ignore case
  cs/src/Contracts/TunnelConstraints.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Restrict tunnel names ending in -inspect (#178)
  cs/src/Contracts/TunnelConstraints.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add PortForwardingUris to TunnelPort (#176)
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TunnelRelayTunneHost dispose error
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add TunnelPort.IsDefault property
  cs/src/Contracts/TunnelPort.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add TunnelPort.IsDefault property (#180)
  cs/src/Contracts/TunnelPort.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  rs/src/contracts/tunnel_port.rs
  ts/src/contracts/tunnelPort.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TunnelRelayTunneHost dispose error (#179)
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
