Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml

move linting to a separate step from the build
  .pipelines/typescript-build-steps.yaml
Due: none

fix lint failures
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix build
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update waitForForwardedPort to wait until port is connected
  go/client.go
Due: none

fail build
  .pipelines/typescript-build-steps.yaml
  ts/src/connections/createHybridRpcServerProvider.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

separate compile step
  .pipelines/typescript-build-steps.yaml
  ts/src/connections/createHybridRpcServerProvider.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update test for new WaitForForwardedPort
  go/client_test.go
Due: none

comments
  go/client.go
Due: none

Fix build steps (#46)
  .pipelines/typescript-build-steps.yaml
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update moment
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add component detection to PR build
  .pipelines/typescript-build-steps.yaml
Due: none

move CG task from sahred build template to PR build
  .pipelines/typescript-build-steps.yaml
  .pipelines/typescript-pr-build.yaml
Due: none

Update moment. (#48)
  .pipelines/typescript-pr-build.yaml
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update host in c#
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update host in ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add LICENSE to Go SDK
  go/LICENSE
Due: none

Update hosts to send portForwardRequests synchronously (#49)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update c#
  cs/src/Connections/TunnelHostBase.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update ts
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update imports
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "update c#"
  cs/src/Connections/TunnelHostBase.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Revert "update ts"
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "update imports"
  ts/src/connections/tunnelHostBase.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update try catch locations
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

spacing
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

formatting
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

move to notice
  NOTICE.txt
Due: none

Catch forward port excpetions (#51)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove unused browserify dependency
  ts/package-lock.json
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove unused createHybridRpcServerProvider
  ts/package-lock.json
  ts/package.json
  ts/src/connections/createHybridRpcServerProvider.ts
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix endpoint subclasses
  cs/src/Contracts/LiveShareRelayTunnelEndpoint.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelRelayTunnelEndpoint.cs
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/client_test.go
  go/live_share_relay_tunnel_endpoint.go
  go/local_network_tunnel_endpoint.go
  go/test/relay_server.go
  go/tunnel_endpoint.go
  go/tunnel_relay_tunnel_endpoint.go
  ts/src/contracts/liveShareRelayTunnelEndpoint.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelRelayTunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Generate TS contracts from C#
  cs/TunnelsSDK.sln
  cs/src/Contracts/ProblemDetails.cs
  cs/src/Contracts/TunnelAuthenticationSchemes.cs
  cs/src/Contracts/TunnelRelayTunnelEndpoint.cs
  cs/src/Contracts/TunnelService.Contracts.csproj
  cs/src/Contracts/TunnelStatus.cs
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TunnelsSDK.Generator.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Generate Go contracts from C# (2)
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/access_scopes.go
  go/client.go
  go/live_share_relay_tunnel_endpoint.go
  go/local_network_tunnel_endpoint.go
  go/manager.go
  go/manager_test.go
  go/problem_details.go
  go/providers.go
  go/remote_forwarded_ports.go
  go/service_version_details.go
  go/ssh/client_session.go
  go/tunnel.go
  go/tunnel_access_control.go
  go/tunnel_access_control_entry.go
  go/tunnel_access_control_entry_type.go
  go/tunnel_access_scopes.go
  go/tunnel_access_subject.go
  go/tunnel_authentication_schemes.go
  go/tunnel_connection_mode.go
  go/tunnel_constraints.go
  go/tunnel_endpoint.go
  go/tunnel_header_names.go
  go/tunnel_options.go
  go/tunnel_port.go
  go/tunnel_port_status.go
  go/tunnel_protocol.go
  go/tunnel_relay_tunnel_endpoint.go
  go/tunnel_service_properties.go
  go/tunnel_status.go
  go/tunnels.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

TS contract writer bugfix
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Generate Go contracts from C#
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix nested types
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/providers.go
  go/tunnel_access_control_entry.go
  ts/src/contracts/providers.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Reduce use of pointers in go contract members
  cs/src/Contracts/LiveShareRelayTunnelEndpoint.cs
  cs/src/Contracts/LocalNetworkTunnelEndpoint.cs
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelRelayTunnelEndpoint.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/client.go
  go/client_test.go
  go/manager.go
  go/manager_test.go
  go/problem_details.go
  go/service_version_details.go
  go/tunnel.go
  go/tunnel_access_control_entry.go
  go/tunnel_access_subject.go
  go/tunnel_endpoint.go
  go/tunnel_header_names.go
  go/tunnel_port.go
  go/tunnel_service_properties.go
  go/tunnels.go
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelHeaderNames.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Generate jsdoc symbol reference links
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelAccessControl.ts
  ts/src/contracts/tunnelAccessControlEntry.ts
  ts/src/contracts/tunnelAccessControlEntryType.ts
  ts/src/contracts/tunnelEndpoint.ts
  ts/src/contracts/tunnelOptions.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelPortStatus.ts
  ts/src/contracts/tunnelProtocol.ts
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix properties nullability, service properties
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelServiceProperties.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  go/client.go
  go/client_test.go
  go/manager.go
  go/manager_test.go
  go/problem_details.go
  go/service_version_details.go
  go/tunnel.go
  go/tunnel_access_control.go
  go/tunnel_access_control_entry.go
  go/tunnel_access_subject.go
  go/tunnel_endpoint.go
  go/tunnel_port.go
  go/tunnel_port_status.go
  go/tunnel_service_properties.go
  go/tunnel_status.go
  go/tunnels.go
  ts/src/contracts/tunnelServiceProperties.ts
  ts/src/contracts/tunnelServicePropertiesStatics.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
