Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Create rust.yml
  .github/workflows/rust.yml
Due: none

Adding error in rust file
  rs/src/contracts/tunnel.rs
Due: .pipelines/rust-pr-build.yaml

Adding error to see if pipeline fails
  rs/src/contracts/named_rate_status.rs
Due: .pipelines/rust-pr-build.yaml

Removing error now that pipeline works
  rs/src/contracts/named_rate_status.rs
Due: .pipelines/rust-pr-build.yaml

Create rust.yml (#241)
  .github/workflows/rust.yml
Due: none

Add user limits to CS SDK
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add user limits to TS SDK
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add user limits to CS SDK (#243)
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

inital commits (moved from other branch)
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update cluster id regex
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove localhost
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

increment go package version
  go/tunnels/tunnels.go
Due: none

Dev/jarober/update cluster id regex (#248)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

allow SDKs to call with API version
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

accept null
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix string building
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix other string creation
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

PR comments
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

use property
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update query setting
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update path
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add api-version param to c# SDK (#249)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

proxy is used when making a web socket - brute force implementation
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelSession.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add user limits to rust SDK
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Add user limits to rust SDK (#253)
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

cleaning up code and getting agent from management client
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add user limits test
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fixing typos
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelSession.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fixing whitespace
  ts/src/connections/tunnelRelayTunnelClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

removing unused reference
  ts/src/connections/sshHelpers.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Dev/utsasanthosh/proxy connection ts (#254)
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelSession.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Address PR comments
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add user limits to Java SDK
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Bump ssh package versions
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump ssh package versions (#257)
  cs/build/build.props
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add User limits to TS SDK (#255)
  ts/src/contracts/index.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add user limits to go SDK
  go/tunnels/examples/example.go
  go/tunnels/manager.go
Due: none

Add user limits to Java SDK (#256)
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update tunnels.go
  go/tunnels/tunnels.go
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
