Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Update package version
  go/tunnels/tunnels.go
Due: none

Add dash as an allowedIdChar (#309)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use MS.CodeAnalysis.CSharp 4.3.0
  cs/tools/TunnelsSDK.Generator/TunnelsSDK.Generator.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add TunnelListByRegion and error detail objects (#312)
  cs/src/Contracts/ErrorCodes.cs
  cs/src/Contracts/ErrorDetail.cs
  cs/src/Contracts/InnerErrorDetail.cs
  cs/src/Contracts/NamedRateStatus.cs
  cs/src/Contracts/TunnelListByRegion.cs
  cs/src/Contracts/TunnelListByRegionResponse.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/LanguageExtensions.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TunnelsSDK.Generator.csproj
  go/tunnels/error_codes.go
  go/tunnels/error_detail.go
  go/tunnels/inner_error_detail.go
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnel_list_by_region_response.go
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorCodes.java
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/InnerErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegionResponse.java
  rs/src/contracts/error_codes.rs
  rs/src/contracts/error_detail.rs
  rs/src/contracts/inner_error_detail.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  ts/src/contracts/errorCodes.ts
  ts/src/contracts/errorDetail.ts
  ts/src/contracts/innerErrorDetail.ts
  ts/src/contracts/tunnelListByRegion.ts
  ts/src/contracts/tunnelListByRegionResponse.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix access token fetching in Go SDK tunnel manager (#313)
  go/tunnels/manager.go
  go/tunnels/manager_test.go
Due: none

Bump dotnet SDK to 6.0.412 (#305)
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add custom expiration to ts and java tunnel sdk creation
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

updating go sdk with custom tunnel expiration
  go/tunnels/tunnels.go
Due: none

updating go package version
  go/tunnels/tunnels.go
Due: none

Add custom expiration to ts , java, and go tunnel sdk creation (#316)
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update endpoint id type
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go version
  go/tunnels/tunnels.go
Due: none

Allow endpoint id to be nullable (#319)
  cs/src/Contracts/TunnelEndpoint.cs
  go/tunnels/tunnel_endpoint.go
  go/tunnels/tunnels.go
  rs/src/contracts/tunnel_endpoint.rs
  ts/src/contracts/tunnelEndpoint.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update c# to use new api version
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelListResponse.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelPortListResponse.cs
  cs/src/Contracts/TunnelPortV2.cs
  cs/src/Contracts/TunnelV2.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update listByRegion response
  cs/src/Contracts/TunnelListByRegion.cs
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  rs/src/contracts/tunnel_list_by_region.rs
  ts/src/contracts/tunnelListByRegion.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update listByRegion response (#320)
  cs/src/Contracts/TunnelListByRegion.cs
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  rs/src/contracts/tunnel_list_by_region.rs
  ts/src/contracts/tunnelListByRegion.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add IdGeneration
  cs/src/Management/IdGeneration.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update API version
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

first pass of typescript
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/tunnel.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelListResponse.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelPortListResponse.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: update dependencies for cg alerts
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

rs: update dependencies for cg alerts (#323)
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

update id gen
  cs/src/Contracts/TunnelListByRegion.cs
  cs/src/Contracts/TunnelListResponse.cs
  cs/src/Management/IdGeneration.cs
  cs/src/Management/ThreadSafeRandom.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelListByRegion.ts
  ts/src/management/idGeneration.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update references
  ts/src/contracts/tunnelConstraints.ts
  ts/src/management/idGeneration.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update flatten
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update ts contract gen
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update create ports
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update writer
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update go and java
  go/tunnels/examples/example.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnel.go
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnel_list_response.go
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_port_list_response.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortListResponse.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

update name in typescript
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

auto gen ts and cs ids
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

id gen in java and go
  cs/src/Management/IdGeneration.cs
  go/tunnels/id_generation.go
  java/src/main/java/com/microsoft/tunnels/management/IdGeneration.java
  ts/src/management/idGeneration.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove old files
  go/tunnels/tunnel_port_v2.go
  go/tunnels/tunnel_v2.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortV2.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  ts/src/contracts/tunnelPortV2.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

java and go retries
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

update retry
  cs/src/Management/TunnelManagementClient.cs
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add endpoint query param
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

fix e2e test bugs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

use old chars
  cs/src/Management/IdGeneration.cs
  go/tunnels/id_generation.go
  java/src/main/java/com/microsoft/tunnels/management/IdGeneration.java
  ts/src/management/idGeneration.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update request objects
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go list response
  go/tunnels/manager.go
Due: none

update ids
  cs/src/Management/IdGeneration.cs
  go/tunnels/id_generation.go
  java/src/main/java/com/microsoft/tunnels/management/IdGeneration.java
  ts/src/management/idGeneration.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
