Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Report connection events to the tunnel service
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEvent.cs
  cs/src/Contracts/Validation/DictionaryCountAttribute.cs
  cs/src/Contracts/Validation/DictionaryRegularExpressionAttribute.cs
  cs/src/Contracts/Validation/DictionaryStringLengthAttribute.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelClientEventsTests.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_event.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEvent.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_event.rs
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEvent.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelEventsTests.ts
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump package version
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix tunnel client constructors
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Report client connection events to the tunnel service (#546)
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEvent.cs
  cs/src/Contracts/Validation/DictionaryCountAttribute.cs
  cs/src/Contracts/Validation/DictionaryRegularExpressionAttribute.cs
  cs/src/Contracts/Validation/DictionaryStringLengthAttribute.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelClientEventsTests.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnel_event.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEvent.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_event.rs
  ts/src/connections/package.json
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/index.ts
  ts/src/contracts/tunnelConstraints.ts
  ts/src/contracts/tunnelEvent.ts
  ts/src/management/package.json
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
  ts/test/tunnels-test/tunnelEventsTests.ts
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Migrate ESRP code signing to AME MSI
  .pipelines/typescript-build-and-publish.yaml
Due: none

Migrate ESRP code signing to AME MSI (#547)
  .pipelines/typescript-build-and-publish.yaml
Due: none

Fix ESRP approver email
  .pipelines/typescript-build-and-publish.yaml
Due: none

Fix ESRP approver email (#549)
  .pipelines/typescript-build-and-publish.yaml
Due: none

Add session ID properties to connection events reporting
  cs/src/Connections/SshSessionExtensions.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add session ID properties to connection events reporting (#550)
  cs/src/Connections/SshSessionExtensions.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

keepalive events in typescript sdk
  ts/package-lock.json
  ts/package.json
  ts/src/connections/index.ts
  ts/src/connections/package.json
  ts/src/connections/sshKeepAliveEventArgs.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionOptions.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelConnectionKeepAliveTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update readme
  README.md
Due: none

Keep-alive implementation in TS SDK (#551)
  README.md
  ts/package-lock.json
  ts/package.json
  ts/src/connections/index.ts
  ts/src/connections/package.json
  ts/src/connections/sshKeepAliveEventArgs.ts
  ts/src/connections/tunnelConnection.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionOptions.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelConnectionKeepAliveTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add request timeout to tunnel options
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add [JsonIgnore]
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  rs/src/contracts/tunnel_options.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Add timeout detail comments
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add connected pme service name
  .pipelines/cs-ci-build.yaml
Due: none

Add request timeout to tunnel options (#552)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add connected pme service name (#553)
  .pipelines/cs-ci-build.yaml
Due: none

Fix ListTunnelPorts in Go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
Due: none

Fix ListTunnelPorts in Go (#538)
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
Due: none

Use EnableEventsReporting flag in C# client
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Use EnableEventsReporting flag in C# client (#561)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add test workflow
  .github/workflows/test.yml
Due: none

Update test workflow trigger
  .github/workflows/test.yml
Due: none

Update test workflow
  .github/workflows/test.yml
Due: none

Allow colon in ACE subject name to support repo URIs
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Allow colon in ACE subject name to support repo URIs (#566)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
