Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Fix port tags and description updates (#147)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add TunnelRequestOptions.HttpRequestOptions for C# SDK
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add TunnelRequestOptions.HttpRequestOptions for C# SDK (#148)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

If there is a 429 on connection, do not retry
  cs/src/Connections/RelayTunnelConnector.cs
  ts/src/connections/relayTunnelConnector.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix delay not set
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

retry on 429s with larger delay
  cs/src/Connections/RelayTunnelConnector.cs
  ts/src/connections/relayTunnelConnector.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

formatting
  ts/src/connections/relayTunnelConnector.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update timing increases
  cs/src/Connections/RelayTunnelConnector.cs
  ts/src/connections/relayTunnelConnector.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "Add antiphishing header (#139)" (#140)
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rs: fix missing properties causing compilation errors
  rs/src/connections/relay_tunnel_host.rs
Due: none

rs: fix missing properties causing compilation errors (#150)
  rs/src/connections/relay_tunnel_host.rs
Due: none

Add antiphishing header for codespaces
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update name
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add header to skip antiphishing page (#151)
  cs/src/Contracts/TunnelHeaderNames.cs
  go/tunnels/tunnel_header_names.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelHeaderNames.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

On 429 when connecting, limit retries and space out retries more (#149)
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  ts/src/connections/relayTunnelConnector.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add HostHeader tunnel option
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add more properties to control Host and Origin headers
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add HostHeader tunnel option (#152)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/contracts/tunnelOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Enable CodeQL in CI build
  .pipelines/cs-ci-build.yaml
  .pipelines/typescript-build-and-publish.yaml
Due: none

Enable CodeQL in CI build (#153)
  .pipelines/cs-ci-build.yaml
  .pipelines/typescript-build-and-publish.yaml
Due: none

Report more bandwidth details in tunnel status
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelStatus.cs
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  rs/src/contracts/tunnel_status.rs
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

cs and ts changes
  cs/src/Management/TunnelRequestOptions.cs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

null checks
  cs/src/Management/TunnelRequestOptions.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

go changes
  go/tunnels/request_options.go
Due: none

java changes
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
Due: none

rust changes
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
Due: none

Report more bandwidth details in tunnel status (#154)
  cs/src/Contracts/RateStatus.cs
  cs/src/Contracts/ResourceStatus.cs
  cs/src/Contracts/TunnelStatus.cs
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  rs/src/contracts/tunnel_status.rs
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add Limit Param to List Operation (#155)
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add attribute based validation to contracts
  cs/.editorconfig
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelAccessControl.cs
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelOptions.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelProtocol.cs
  cs/src/Contracts/TunnelRelayTunnelEndpoint.cs
  cs/src/Contracts/Validation/ArrayRegularExpressionAttribute.cs
  cs/src/Contracts/Validation/ArrayStringLengthAttribute.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix Java build, address feedback
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelOptions.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

don't throw if requested port is already in collection.
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
Due: none

add refresh ports tests
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

update test
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
Due: none

Revert "don't throw if requested port is already in collection."
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
Due: none

Fix java validation code
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
Due: none

update readme
  java/README.md
Due: none

Fix C# IsValidTag
  cs/src/Contracts/TunnelConstraints.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add attribute based validation to contracts (#156)
  cs/.editorconfig
  cs/src/Contracts/Tunnel.cs
  cs/src/Contracts/TunnelAccessControl.cs
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessScopes.cs
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelEndpoint.cs
  cs/src/Contracts/TunnelOptions.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelProtocol.cs
  cs/src/Contracts/TunnelRelayTunnelEndpoint.cs
  cs/src/Contracts/Validation/ArrayRegularExpressionAttribute.cs
  cs/src/Contracts/Validation/ArrayStringLengthAttribute.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  cs/tools/TunnelsSDK.Generator/ContractsGenerator.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/ClusterDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/test/java/com/microsoft/tunnels/TunnelContractsTests.java
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_header_names.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

[ignore] test PR
  README.md
Due: none
