Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Migrate from tslint to eslint (#208)
  .pipelines/typescript-build-steps.yaml
  cs/src/Connections/SshChannelForwarder.cs
  ts/.eslintrc.js
  ts/.npmrc
  ts/package-lock.json
  ts/package.json
  ts/src/connections/connectionStatusChangedEventArgs.ts
  ts/src/connections/forwardedPortConnectingEventArgs.ts
  ts/src/connections/index.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryTcpListenerFactory.ts
  ts/src/connections/retryingTunnelConnectionEventArgs.ts
  ts/src/connections/sessionPortKey.ts
  ts/src/connections/sshChannelForwarder.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/src/management/package-lock.json
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/tsconfig.eslint.json
  ts/tslint.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix concurrent SSH requests in TS SDK
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix concurrent SSH requests in TS SDK (#210)
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Use DevTunnels SSH NuGet package v3.11.2
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Use DevTunnels SSH NuGet package v3.11.2 (#213)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

move reject
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

format
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update cancellation to fix timing error (#214)
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Enable optional E2E encryption with v2 protocol
  cs/build/build.props
  cs/src/Connections/ForwardedPortConnectingEventArgs.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/Messages/PortRelayConnectRequestMessage.cs
  cs/src/Connections/Messages/PortRelayConnectResponseMessage.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add comments, fix test build
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Avoid the word "basis"
  cs/src/Connections/TunnelConnection.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Enable optional E2E encryption with v2 protocol (#215)
  cs/build/build.props
  cs/src/Connections/ForwardedPortConnectingEventArgs.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/Messages/PortRelayConnectRequestMessage.cs
  cs/src/Connections/Messages/PortRelayConnectResponseMessage.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix TunnelConnection.GetFreshAccessToken
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelExtensionsTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix usings
  cs/src/Connections/TunnelConnection.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix comments, unit tests
  cs/src/Management/TunnelExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelExtensionsTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Bug bounty test - please ignore.... (zxqakm)
  java/pom.xml
  ts/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update symbol expiry to 3 years
  .pipelines/cs-ci-build.yaml
Due: none

update symbol expiry to 3 years (#218)
  .pipelines/cs-ci-build.yaml
Due: none

Fix TunnelConnection.GetFreshAccessToken (#216)
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelExtensionsTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix TunnelConnectionSession.getFreshAccessToken
  ts/src/connections/tunnelConnectionSession.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

bump the version of ssh dependency
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

bump the version of ssh dependency (#220)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Send port-forward request messages concurrently
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Send port-forward request messages concurrently (#222)
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Verify host public keys when connecting client
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Verify host public keys when connecting client (#223)
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

cs and ts
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

generator and deprecation in all languages
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  rs/src/contracts/tunnel_access_control_entry_type.rs
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

naming
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update package version in tunnels.go
  go/tunnels/tunnels.go
Due: none

remove obsolete - will be enforced server side only
  cs/src/Contracts/TunnelAccessControlEntry.cs
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnel_access_control_entry_type.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  rs/src/contracts/tunnel_access_control_entry_type.rs
  ts/src/contracts/tunnelAccessControlEntryType.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove namespace / revert package version
  cs/src/Contracts/TunnelAccessControlEntryType.cs
  go/tunnels/tunnels.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Deprecation support (#224)
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update SSH nuget package version
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update SSH nuget package version (#225)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix TunnelConnectionSession.getFreshAccessToken (#219)
  ts/src/connections/tunnelConnectionSession.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update user-agent in SDKs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  rs/src/management/http_client.rs
  ts/src/management/version.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

inc. languages for ts and csharp
  cs/src/Management/TunnelManagementClient.cs
  ts/src/management/version.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go packageversion
  go/tunnels/tunnels.go
Due: none

Go SDK: Ensure tunnels.go is updated when there's a change to the go sdk folder
  .github/workflows/go.yml
Due: none
