Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: MicroBuildSigningPlugin@4
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
      azureSubscription: MicroBuild Signing Task (DevDiv)
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: EsrpRelease@9
    inputs:
      ConnectedServiceName: $(EsrpConnectedServiceName)
      UseManagedIdentity: true
      AppRegistrationTenantId: $(EsrpAppRegistrationTenantId)
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Send auth on cluster recommendations and surface fallbacks
  cs/src/Management/TunnelClusterSelectionEventArgs.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Send auth on cluster recommendations and report fallbacks (Go SDK)
  go/tunnels/cluster_recommendations_test.go
  go/tunnels/cluster_selection.go
  go/tunnels/manager.go
Due: none

Send auth on cluster recommendations and report cluster source (TypeScript)
  ts/src/management/index.ts
  ts/src/management/tunnelClusterSelection.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump Go package version and TS interpackage dependency floors
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix Go SDK request option headers
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/request_options.go
  go/tunnels/tunnels.go
Due: none

Adopt cluster recommendations in the Rust SDK
  rs/src/management/cluster_selection.rs
  rs/src/management/http_client.rs
  rs/src/management/mod.rs
Due: .pipelines/rust-pr-build.yaml

Adopt cluster recommendations in the Java SDK
  .github/workflows/maven.yml
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelClusterSource.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  java/src/test/java/com/microsoft/tunnels/TunnelClusterRecommendationsTests.java
Due: none

fix(go): propagate context to management HTTP requests
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/tunnels.go
Due: none

Remove obsolete SSH tunnel protocol
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelProtocol.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_protocol.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_protocol.rs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelProtocol.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add coverage for legacy SSH ports
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  go/tunnels/tunnels.go
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove obsolete SSH tunnel protocol (#684)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelPort.cs
  cs/src/Contracts/TunnelProtocol.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  go/tunnels/tunnel_port.go
  go/tunnels/tunnel_protocol.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_protocol.rs
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/contracts/tunnelPort.ts
  ts/src/contracts/tunnelProtocol.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Forward additional headers on tunnel service requests
  rs/src/connections/relay_tunnel_client.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/management/http_client.rs
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/management/tunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix(rust): address reconnection review findings
  README.md
  rs/src/connections/errors.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/test/tunnels_test.rs
  rs/tests/reconnection.rs
Due: .pipelines/rust-pr-build.yaml

Forward additional headers on tunnel service requests (#685)
  rs/src/connections/relay_tunnel_client.rs
  rs/src/connections/relay_tunnel_host.rs
  rs/src/management/http_client.rs
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/management/tunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
