Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Update rs/src/management/http_client.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

format
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix build
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Retry on 502, fix disconnect reason for 429.
  cs/src/Connections/RelayTunnelConnector.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add default api version
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

whitespace
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update endpoint
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

use const
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add default api-version in C# (#333)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix not found response in list
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix not found response in list (#334)
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

allow sdk to force create or update
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add to backup
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix error in ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go version
  go/tunnels/tunnels.go
Due: none

spacing
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

Add forceCreate and forceUpdate query params (#335)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add create or update methods
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "add create or update methods"
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "Revert "add create or update methods""
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/manager.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix ts build issues
  ts/src/management/tunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix cs builds
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

avoid memory coping in create_tunnel
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

run 'cargo clippy --fix'
  rs/src/contracts/tunnel_constraints.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Update Rust SDK to use api-version param (#331)
  go/tunnels/id_generation.go
  go/tunnels/tunnels.go
  rs/Cargo.toml
  rs/src/connections/errors.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_response.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_port_v2.rs
  rs/src/contracts/tunnel_v2.rs
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
Due: .pipelines/rust-pr-build.yaml

getting partner id through registry value
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding os and os version to user agent
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

cleaning edits
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

addressing comments
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

updating description
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

editing comment format
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

changing comment format
  cs/src/Management/TunnelUserAgent.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

adding rust changes
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

addressing rust comments
  rs/Cargo.toml
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

moving os dependency
  rs/Cargo.toml
Due: .pipelines/rust-pr-build.yaml

Adding Windows Partner Information to UserAgent C# and Rust Changes (#337)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelUserAgent.cs
  rs/Cargo.lock
  rs/Cargo.toml
  rs/src/management/http_client.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml
