Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Merge SshPfsClientBase into TunnelClientBase (#65)
  cs/src/Connections/SshPfsClientBase.cs
  cs/src/Connections/TunnelClientBase.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add check for port 80 for clientRelayUri
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
Due: none

remove snapshot versioning
  java/pom.xml
Due: none

Java SDK - Add Client Connections (#55)
  java/pom.xml
  java/src/main/java/com/microsoft/tunnels/connections/SshException.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClientBase.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnectionHandler.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketConnector.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketServiceFactoryFactory.java
  java/src/main/java/com/microsoft/tunnels/websocket/WebSocketSession.java
Due: none

Ignore inherited ACL when updating tunnel
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Ignore inherited ACL when updating tunnel (#66)
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels.go
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add custom PortForwardHandler to assign new port if requested port is in use.
  java/src/main/java/com/microsoft/tunnels/connections/PortForwardHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
Due: none

add port forwarding events to tunnel client.
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPort.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortEventListener.java
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
Due: none

export table function for tunnel
  go/manager_test.go
  go/tunnels.go
Due: none

Fix list-tunnels global option in TS SDK
  .vscode/settings.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix lint issue
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix list-tunnels global option in TS SDK (#69)
  .vscode/settings.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TS request options query param formatting
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix TS request options query param formatting (#70)
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

track local forwarded ports via the TcpipForwardHandler and CancelTcpipForwardHandler
  java/src/main/java/com/microsoft/tunnels/connections/CancelTcpipForwardHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPort.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
Due: none

export table function for tunnel (#68)
  go/manager_test.go
  go/tunnels.go
Due: none

address PR comments
  java/src/main/java/com/microsoft/tunnels/connections/CancelTcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPort.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortsCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
Due: none

restrict visibility of internal classes
  java/src/main/java/com/microsoft/tunnels/connections/CancelTcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortsCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
Due: none

ForwardedPortsCollection extends AbstractList to be unmodifiable
  java/src/main/java/com/microsoft/tunnels/connections/CancelTcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortsCollection.java
Due: none

Java SDK - Add port forwarding events (#67)
  java/src/main/java/com/microsoft/tunnels/connections/CancelTcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPort.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortEventListener.java
  java/src/main/java/com/microsoft/tunnels/connections/ForwardedPortsCollection.java
  java/src/main/java/com/microsoft/tunnels/connections/TcpipForwardRequestHandler.java
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
Due: none

add java contract writer
  cs/tools/TunnelsSDK.Generator/ContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix serialization issues
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix build
  java/src/main/java/com/microsoft/tunnels/connections/TunnelClient.java
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/test/java/com/microsoft/tunnels/TunnelManagementClientTests.java
Due: none

update java contracts
  java/src/main/java/com/microsoft/tunnels/contracts/LiveShareRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/LocalNetworkTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/ProblemDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/ServiceVersionDetails.java
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryType.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessSubject.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAuthenticationSchemes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConnectionMode.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPort.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortStatus.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelRelayTunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
Due: none

undo updateTunnelEndpoint not generic
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

make constants final. misc cleanup.
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAuthenticationSchemes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

map internal fields to package-private
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add copyConstructor method and extend static classes
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update sending token
  go/client.go
Due: none

assign static properties from *Statics.java classes
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessScopes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAuthenticationSchemes.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelHeaderNames.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelProtocol.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix tests
  go/client_test.go
  go/test/relay_server.go
Due: none

skip verify if localhost
  go/manager.go
Due: none

write static methods
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntry.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraintsStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpoint.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelEndpointStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServicePropertiesStatics.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

move static method validateScopes
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControl.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlEntryStatics.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelAccessControlStatics.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

pr change
  go/client.go
Due: none

Fix bug where tunnel tokens and http client bugs (#72)
  go/client.go
  go/client_test.go
  go/manager.go
  go/test/relay_server.go
Due: none

Get java release version from tag. The tag is assumed to follow the format java-vX.Y.Z which is set when the release action is started.
  .github/workflows/java-sdk-release.yml
  java/pom.xml
Due: none

Get java release version from tag. The tag is assumed to follow the format java-vX.Y.Z which is set when the release action is started. (#73)
  .github/workflows/java-sdk-release.yml
  java/pom.xml
Due: none

rename package to new name
  go/client_test.go
Due: none

rename
  go/client.go
  go/examples/example.go
  go/go.mod
  go/ssh/client_session.go
  go/ssh/local_port_forwarder_test.go
  go/test/relay_server.go
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
