Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - template: cs-build-steps.yaml
  - task: DotNetCoreCLI@2
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to internal feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Address PR comments
  cs/src/Management/TunnelRequestOptions.cs
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Typo nil for go
  go/tunnels/request_options.go
Due: none

Lint failure replace " with '
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Remove extra space
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add AdditionalQueryParameters and include ssh gateway public key in UpdateTunnelEndpoint (#141)
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Management/TunnelRequestOptions.cs
  go/tunnels/request_options.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelRequestOptions.java
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelRequestOptions.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update ts package
  ts/.npmrc
  ts/package-lock.json
  ts/package.json
  ts/src/connections/defaultTunnelRelayStreamFactory.ts
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/refreshingTunnelAccessTokenEventArgs.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/retryTcpListenerFactory.ts
  ts/src/connections/sshChannelForwarder.ts
  ts/src/connections/sshHelpers.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayStreamFactory.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/connections/utils.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/duplexStream.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/testMultiChannelStream.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update csharp package
  cs/NuGet.config
  cs/build/build.props
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryTcpListenerFactory.cs
  cs/src/Connections/SshChannelForwarder.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/TunnelService.Connections.csproj
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
  ts/src/connections/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add package project url for nuget package
  cs/Directory.Build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

publish to external feeds
  .pipelines/cs-ci-build.yaml
  .pipelines/typescript-build-and-publish.yaml
Due: none

change publish endpoints
  .pipelines/cs-ci-build.yaml
  .pipelines/typescript-build-and-publish.yaml
Due: none

update package names
  ts/build.js
  ts/package-lock.json
  ts/package.json
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/package.json
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/contracts/package.json
  ts/src/management/package.json
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/package.json
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
  ts/test/tunnels-test/tunnelAccessTokenPropertiesTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
  ts/tsconfig.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update publish task
  .pipelines/typescript-build-and-publish.yaml
Due: none

add required nuget publish properties
  cs/Directory.Build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

dotnet push task incompatible with service connections. Recommended to use variable or nuget task. Trying Nuget task.
  .pipelines/cs-ci-build.yaml
Due: none

set nuget feed type to external
  .pipelines/cs-ci-build.yaml
Due: none

readd includeNuGetOrg
  .pipelines/cs-ci-build.yaml
Due: none

try using select feed
  .pipelines/cs-ci-build.yaml
Due: none

try again...
  .pipelines/cs-ci-build.yaml
Due: none

update publish condition
  .pipelines/cs-ci-build.yaml
Due: none

rename npm package to dev-tunnels
  ts/build.js
  ts/package.json
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/package.json
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/src/connections/tunnelSession.ts
  ts/src/connections/tunnelSshSessionClass.ts
  ts/src/contracts/package.json
  ts/src/management/package.json
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/connection.ts
  ts/test/tunnels-test/host.ts
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
  ts/test/tunnels-test/mocks/mockTunnelRelayStreamFactory.ts
  ts/test/tunnels-test/package.json
  ts/test/tunnels-test/testTunnelRelayTunnelClient.ts
  ts/test/tunnels-test/tunnelAccessTokenPropertiesTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
  ts/tsconfig.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package-lock.json
  ts/package-lock.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove conditional publish and signing
  .pipelines/cs-ci-build.yaml
Due: none

add rate status
  cs/src/Contracts/TunnelStatus.cs
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  rs/src/contracts/tunnel_status.rs
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update comment to mention web forwarding
  cs/src/Contracts/TunnelStatus.cs
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  rs/src/contracts/tunnel_status.rs
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

rename project files and namespaces
  cs/TunnelsSDK.sln
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Management/DevTunnels.Management.csproj
  cs/test/TunnelsSDK.Test/TunnelsSDK.Test.csproj
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update file namespaces
  cs/src/Connections/ConnectionStatus.cs
  cs/src/Connections/ConnectionStatusChangedEventArgs.cs
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelConnector.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RefreshingTunnelAccessTokenEventArgs.cs
  cs/src/Connections/RelayStream.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/RetryTcpListenerFactory.cs
  cs/src/Connections/RetryingTunnelConnectionEventArgs.cs
  cs/src/Connections/SessionPortKey.cs
  cs/src/Connections/SshChannelForwarder.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionException.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Connections/WebSocketStream.cs
  cs/src/Management/FollowRedirectsHttpHandler.cs
  cs/src/Management/HttpContentJsonExtensions.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/JsonContent.cs
  cs/src/Management/TraceSourceExtensions.cs
  cs/src/Management/TunnelAccessControlExtensions.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/TunnelManagementClientExtensions.cs
  cs/src/Management/TunnelRequestOptions.cs
  cs/src/Management/TunnelUserAgent.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TestTunnelRelayTunnelClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update reset time
  cs/src/Contracts/RateStatus.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

other languages
  go/tunnels/resource_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  rs/src/contracts/rate_status.rs
  ts/src/contracts/rateStatus.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update type
  cs/src/Contracts/RateStatus.cs
  go/tunnels/resource_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  rs/src/contracts/rate_status.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update rate status contract reset time (#144)
  cs/src/Contracts/RateStatus.cs
  go/tunnels/resource_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/RateStatus.java
  rs/src/contracts/rate_status.rs
  ts/src/contracts/rateStatus.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

(TS) don't check remote forwarders on forwarded-tcpip request
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

fix test name
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

(TS) don't check remote forwarders on forwarded-tcpip request (#145)
  ts/src/connections/tunnelRelayTunnelHost.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add access-control constraints
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add access-control constraints (#146)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix port tags and description updates
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
