Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Add .NET 8 target, remove .NET Core 3.1
  .pipelines/cs-build-steps.yaml
  cs/build/build.props
  cs/global.json
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/WebSocketStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/TunnelRequestOptions.cs
  ts/build.js
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add rollForward in global.json
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add .NET 8 target, remove .NET Core 3.1 (#486)
  .pipelines/cs-build-steps.yaml
  cs/build/build.props
  cs/global.json
  cs/src/Connections/DevTunnels.Connections.csproj
  cs/src/Connections/WebSocketStream.cs
  cs/src/Contracts/DevTunnels.Contracts.csproj
  cs/src/Directory.Build.targets
  cs/src/Management/DevTunnels.Management.csproj
  cs/src/Management/TunnelRequestOptions.cs
  ts/build.js
  version.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update listener type
  go/tunnels/ssh/client_session.go
  go/tunnels/tunnels.go
Due: none

update listener type (#490)
  go/tunnels/ssh/client_session.go
  go/tunnels/tunnels.go
Due: none

Unicode convert
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

format
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Add failed policy requirement names to UnauthorizedAccessException (#460)
  cs/src/Management/TunnelManagementClient.cs
  cs/src/Management/UnauthorizedAccessExceptionExtensions.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add sample ts host
  .vscode/launch.json
  samples/ts/host/.gitignore
  samples/ts/host/.npmrc
  samples/ts/host/.vscode/settings.json
  samples/ts/host/index.ts
  samples/ts/host/package-lock.json
  samples/ts/host/package.json
  samples/ts/host/tsconfig.json
Due: none

Add sample ts client
  .vscode/launch.json
  samples/ts/client/.gitignore
  samples/ts/client/.npmrc
  samples/ts/client/.vscode/settings.json
  samples/ts/client/index.ts
  samples/ts/client/package-lock.json
  samples/ts/client/package.json
  samples/ts/client/tsconfig.json
  samples/ts/host/index.ts
Due: none

Find free port in the host sample
  samples/ts/client/index.ts
  samples/ts/host/index.ts
Due: none

Add sample nodejs host (#495)
  .vscode/launch.json
  samples/ts/client/.gitignore
  samples/ts/client/.npmrc
  samples/ts/client/.vscode/settings.json
  samples/ts/client/index.ts
  samples/ts/client/package-lock.json
  samples/ts/client/package.json
  samples/ts/client/tsconfig.json
  samples/ts/host/.gitignore
  samples/ts/host/.npmrc
  samples/ts/host/.vscode/settings.json
  samples/ts/host/index.ts
  samples/ts/host/package-lock.json
  samples/ts/host/package.json
  samples/ts/host/tsconfig.json
Due: none

Improve support for region-specific tunnel service URI
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  ts/src/contracts/tunnelConstraints.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Bump package versions
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Improve support for region-specific tunnel service URI (#517)
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/TunnelManagementClient.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  ts/src/connections/package.json
  ts/src/contracts/tunnelConstraints.ts
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add logging for websocket stream read and write Set the environment variable DEVTUNNELS_LOG_WEBSOCKET_MESSAGES to true for the additional logging
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayStreamFactory.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add logging for websocket stream read and write (#521)
  cs/src/Connections/ITunnelRelayStreamFactory.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayStreamFactory.cs
  cs/src/Connections/WebSocketStream.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add option for cross-site authentication
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add option for cross-site authentication (#524)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update axios to resolve CVE
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update axios to resolve CVE (#525)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Reduce websocket logs to reduce log file size
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix Java build failure
  .github/workflows/maven.yml
Due: none

Add the comment back
  .github/workflows/maven.yml
Due: none

Reduce websocket logs to reduce log file size (#526)
  .github/workflows/maven.yml
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Implement ssh keep-alive for Tunnels C# SDK
  README.md
  cs/build/build.props
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/SshKeepAliveFailureEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Rename KeepAliveRequestFailed to KeepAliveFailed.
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Implement ssh keep-alive for Tunnels C# SDK (#527)
  README.md
  cs/build/build.props
  cs/src/Connections/IRelayClient.cs
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/SshKeepAliveFailureEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add option for partitioned auth cookies
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add option for partitioned auth cookies (#530)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix nullability for tunnel CORS options
  cs/src/Contracts/TunnelOptions.cs
  rs/src/contracts/tunnel_options.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Fix nullability for tunnel CORS options (#534)
  cs/src/Contracts/TunnelOptions.cs
  rs/src/contracts/tunnel_options.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Fix ListTunnelPorts in Go
  go/tunnels/manager.go
Due: none

add event for ssh keep alive
  cs/build/build.props
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/SshKeepAliveSuccessEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

refactor event args to one class
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/SshKeepAliveEventArgs.cs
  cs/src/Connections/SshKeepAliveFailureEventArgs.cs
  cs/src/Connections/TunnelConnection.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

fix comment
  cs/src/Connections/SshKeepAliveEventArgs.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add event for ssh keep alive (#544)
  cs/build/build.props
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/SshKeepAliveEventArgs.cs
  cs/src/Connections/SshKeepAliveFailureEventArgs.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add extra telemetry on websocket disconnects
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add close status description to telemetry
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add extra telemetry on websocket disconnects (#545)
  cs/src/Connections/WebSocketStream.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml
