Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Add cancelltationToken to all tunnelManagementClient requests
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- Add default request timeout to tunnel management requests - pass cancellationToken in to refreshPorts -
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelRelayTunnelClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add unit tests
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update the dependencies in package.json for connections and management to require a dependency that is > the current published version
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

removing cancellation from an SSH session request as it causes the SSH session to close.
  ts/src/connections/tunnelRelayTunnelClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

remove cancel token
  ts/src/connections/tunnelClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add cancellation token and default timeout (20s) to service requests (#382)
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Clear axios timeout after request is done
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- add abort messages - clear timeout
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update packages
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Improve timeout messaging (#384)
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- update axios version - replace abortController with cancelationToken
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- updating to the latest version of axios - update error message and always return error.code = 'ECONNABORTED' for both cases to allow for codespaces to retry in this scenario
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- updating to the latest version of axios (#385)
  ts/package-lock.json
  ts/package.json
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

- Increase socket connection retry delay: 1,2,4,8,16 s - Add reject with onclose event info when available
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SDK
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Increase socket connection retry delay and add socket onclose event (#387)
  ts/src/connections/package.json
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update rust endpoint requests
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

update types
  rs/src/contracts/tunnel_endpoint.rs
Due: .pipelines/rust-pr-build.yaml

rs: fix error logs and compilation warning on non-windows
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

Update rust endpoint requests (#389)
  rs/src/contracts/tunnel_endpoint.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

rs: fix error logs and compilation warning on non-windows (#390)
  rs/src/management/http_client.rs
  rs/src/management/policy_provider.rs
Due: .pipelines/rust-pr-build.yaml

;
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

rs: add missing semicolon in partner UA header
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

rs: add missing semicolon in partner UA header (#391)
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

add endpoint query param
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
Due: .pipelines/rust-pr-build.yaml

Revert "add endpoint query param"
  rs/src/management/http_client.rs
  rs/src/management/tunnel_request_options.rs
Due: .pipelines/rust-pr-build.yaml

use tostring
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

update types
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix delete
  rs/src/connections/relay_tunnel_host.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix build
  rs/src/connections/relay_tunnel_host.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

update port request
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix syntax
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix build again
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

fix build
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

compilation error, build connections in ci
  .github/workflows/rust.yml
  rs/src/connections/relay_tunnel_host.rs
Due: .pipelines/rust-pr-build.yaml

run clippy and cargo fmt
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

Add endpoint connection mode query param (#392)
  .github/workflows/rust.yml
  rs/src/connections/relay_tunnel_host.rs
  rs/src/connections/ws.rs
  rs/src/contracts/tunnel.rs
  rs/src/contracts/tunnel_access_control_entry.rs
  rs/src/contracts/tunnel_constraints.rs
  rs/src/contracts/tunnel_port.rs
  rs/src/management/http_client.rs
Due: .pipelines/rust-pr-build.yaml

- remove internal usage of validateTokenExpiration as it uses client's system time which can cause issues.
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelRelayConnection.cs
  cs/src/Management/TunnelAccessTokenProperties.cs
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelSession.ts
  ts/src/management/tunnelAccessTokenProperties.ts
  ts/src/management/tunnelManagementHttpClient.ts
  ts/src/management/tunnelPlanTokenProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update SDK version
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
