Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts

Update test workflow
  .github/workflows/test.yml
Due: none

Fix tunnel creation ID conflict handling
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix tunnel creation ID conflict handling (#568)
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelManagementClientTests.cs
  ts/src/connections/package.json
  ts/src/management/package.json
  ts/src/management/tunnelManagementHttpClient.ts
  ts/test/tunnels-test/tunnelManagementTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add bearer auth tunnel option
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add bearer auth tunnel option (#569)
  cs/src/Contracts/TunnelOptions.cs
  go/tunnels/tunnel_options.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelOptions.java
  rs/src/contracts/tunnel_options.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelOptions.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Adding test pipeline for Symbols publishing AAD auth
  .pipelines/symbols-aad-test.yaml
Due: none

Adding test pipeline for Symbols publishing AAD auth (#572)
  .pipelines/symbols-aad-test.yaml
Due: none

Dev Tunnels CLI CI pipeline updates to remove dependencies on PATs for symbols publishing
  .pipelines/cs-ci-build.yaml
  .pipelines/symbols-aad-test.yaml
Due: none

Deleting test pipeline
  .pipelines/symbols-aad-test.yaml
Due: none

Updated service connection name
  .pipelines/cs-ci-build.yaml
Due: none

Updated name of service connection for symbols publishing (#575)
  .pipelines/cs-ci-build.yaml
Due: none

Build pipeline: disabling an expected warning
  .pipelines/cs-ci-build.yaml
Due: none

Build pipeline: disabling an expected warning (#577)
  .pipelines/cs-ci-build.yaml
Due: none

update to 3p for dev instead of 1p
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update version requirements for go and ts
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix duplicate SshSession class causing instanceof failures
  ts/build.js
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix duplicate SshSession class causing instanceof failures (#580)
  ts/build.js
  ts/src/connections/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Limit tunnel IDs and names to 49 characters for DNS compliance
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelPort.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Updated package numbers
  go/tunnels/tunnels.go
  ts/src/connections/package.json
  ts/src/management/package.json
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix create retry behavior in go, improve tests
  go/tunnels/client_test.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/ssh/client_session.go
  go/tunnels/tunnels.go
Due: none

Bumping Go PackageVersion to 0.1.22
  go/tunnels/tunnels.go
Due: none

Fix create retry behavior in go, improve tests (#582)
  go/tunnels/client_test.go
  go/tunnels/manager.go
  go/tunnels/manager_test.go
  go/tunnels/ssh/client_session.go
  go/tunnels/tunnels.go
Due: none

bump go package version
  go/tunnels/tunnels.go
Due: none

Limit tunnel IDs and names to 49 characters for DNS compliance (#581)
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Contracts/TunnelPort.cs
  cs/test/TunnelsSDK.Test/TunnelConstraintsTests.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/connections/package.json
  ts/src/contracts/tunnelConstraints.ts
  ts/src/management/package.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Added logging when successfully manage to reconnect to tunnel relay, and fixed event logging of reconnect failed vs cancelled to warn correctly.
  cs/src/Connections/TunnelRelayConnection.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Added testing to ensure cancelled reconnect vs failed reconnect are reported correctly
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fixed infinite hanging of DisposeDuringReconnectReportsCancelledEvent by corecting use of cancellation token
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fixed required net6.0 installation for test proj
  .pipelines/cs-build-steps.yaml
Due: none

test: verify PR pipeline triggers
  cs/NuGet.config
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix classification of disposal-during-reconnect as cancelled, not failed (#592)
  .pipelines/cs-build-steps.yaml
  cs/src/Connections/TunnelRelayConnection.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelRelayStreamFactory.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

changes to use 3p in Microsoft tenant for dev. (#579)
  cs/src/Contracts/TunnelServiceProperties.cs
  go/tunnels/tunnel_service_properties.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelServiceProperties.java
  rs/src/contracts/tunnel_service_properties.rs
  ts/src/contracts/tunnelServiceProperties.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml
