Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:
  pool:
    name: VSEngSS-MicroBuild2022-1ES
  steps:
  - task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
    displayName: Install Signing Plugin
    inputs:
      signType: $(signType)
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.x
  ...

.pipelines/cs-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - task: NuGetCommand@2
    inputs:
      command: help
  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: 6.4.0
  - task: NuGetCommand@2
    inputs:
      command: help
  - template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: csharp-build-steps.yaml
  - task: DotNetCoreCLI@2
    displayName: Install NBGV tool
    inputs:
      command: custom
      custom: tool
      arguments: install --tool-path . nbgv
  - script: nbgv cloud
    displayName: Set Version
  - task: DotNetCoreCLI@2
  ...

.pipelines/rust-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: rust-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

.pipelines/typescript-build-and-publish.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: Npm@1
    displayName: Publish packages to external feed
    inputs:
      command: custom
      workingDir: ts
      verbose: false
      customCommand: run publish --access public
      customRegistry: useNpmrc
  ...

.pipelines/typescript-pr-build.yaml:
  pool:
    name: Azure Pipelines
  steps:
  - template: typescript-build-steps.yaml
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance

Insert NuGet SSH v3.11.28
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix build error
  cs/src/Connections/TunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Insert NuGet SSH v3.11.28 (#303)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix test failure from disconnected event timing
  cs/src/Connections/TunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add extension methods for relay
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

start updating client
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

PR comments
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

It builds
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add extensions needed for ControlPlanManagementClient in relay (#304)
  cs/src/Management/TunnelExtensions.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix this.SshSession null reference
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Improve host & client connect options and cancellation (#302)
  cs/src/Connections/ITunnelClient.cs
  cs/src/Connections/ITunnelConnector.cs
  cs/src/Connections/ITunnelHost.cs
  cs/src/Connections/MultiModeTunnelClient.cs
  cs/src/Connections/MultiModeTunnelHost.cs
  cs/src/Connections/RelayTunnelConnector.cs
  cs/src/Connections/TunnelClient.cs
  cs/src/Connections/TunnelConnection.cs
  cs/src/Connections/TunnelConnectionOptions.cs
  cs/src/Connections/TunnelHost.cs
  cs/src/Connections/TunnelRelayTunnelClient.cs
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/test/TunnelsSDK.Test/TunnelHostAndClientTests.cs
  ts/src/connections/multiModeTunnelClient.ts
  ts/src/connections/multiModeTunnelHost.ts
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/tunnelClient.ts
  ts/src/connections/tunnelClientBase.ts
  ts/src/connections/tunnelConnectionBase.ts
  ts/src/connections/tunnelConnectionOptions.ts
  ts/src/connections/tunnelConnectionSession.ts
  ts/src/connections/tunnelConnector.ts
  ts/src/connections/tunnelHost.ts
  ts/src/connections/tunnelHostBase.ts
  ts/src/connections/tunnelRelaySessionClass.ts
  ts/src/connections/tunnelSession.ts
  ts/test/tunnels-test/connectTests.ts
  ts/test/tunnels-test/tunnelHostAndClientTests.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update API versions
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Bump dotnet SDK to 6.0.412
  cs/global.json
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

other tunnel changes
  cs/src/Connections/TunnelRelayTunnelHost.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/IdGeneration.cs
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add e to constraints
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go version
  go/tunnels/tunnels.go
Due: none

Other E updates
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add E to tunnelId Chars (#306)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix test
  go/tunnels/client_test.go
Due: none

Fix connecting to local TCP port
  go/tunnels/client.go
Due: none

Update package to v0.0.18
  go/tunnels/tunnels.go
Due: none

Host command works on old and new
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add dash as an allowedIdChar
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update go
  go/tunnels/tunnels.go
Due: none

Fix connecting to local TCP port in Go SDK (#307)
  go/tunnels/client.go
  go/tunnels/client_test.go
  go/tunnels/tunnels.go
Due: none

Add paged responses
  cs/src/Contracts/TunnelListResponse.cs
  cs/src/Contracts/TunnelPortListResponse.cs
  cs/src/Contracts/TunnelV2.cs
  go/tunnels/tunnel_list_response.go
  go/tunnels/tunnel_port_list_response.go
  go/tunnels/tunnel_v2.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_list_response.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_v2.rs
  ts/src/contracts/tunnelListResponse.ts
  ts/src/contracts/tunnelPortListResponse.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update package
  go/tunnels/tunnels.go
Due: none

update version
  go/tunnels/tunnels.go
Due: none

Add paged responses and update tunnelV2 port type (#310)
  cs/src/Contracts/TunnelListResponse.cs
  cs/src/Contracts/TunnelPortListResponse.cs
  cs/src/Contracts/TunnelV2.cs
  go/tunnels/tunnel_list_response.go
  go/tunnels/tunnel_port_list_response.go
  go/tunnels/tunnel_v2.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortListResponse.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelV2.java
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_list_response.rs
  rs/src/contracts/tunnel_port_list_response.rs
  rs/src/contracts/tunnel_v2.rs
  ts/src/contracts/tunnelListResponse.ts
  ts/src/contracts/tunnelPortListResponse.ts
  ts/src/contracts/tunnelV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update V2 Ports to Labels instead of Tags Fixes #
  cs/src/Contracts/TunnelPortV2.cs
  go/tunnels/tunnel_port_v2.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortV2.java
  rs/src/contracts/tunnel_port_v2.rs
  ts/src/contracts/tunnelPortV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update V2 Ports to Labels instead of Tags (#311)
  cs/src/Contracts/TunnelPortV2.cs
  go/tunnels/tunnel_port_v2.go
  go/tunnels/tunnels.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelPortV2.java
  rs/src/contracts/tunnel_port_v2.rs
  ts/src/contracts/tunnelPortV2.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

version bump
  go/tunnels/tunnels.go
Due: none

Add TunnelListByRegion and error detail objects
  cs/src/Contracts/ErrorCodes.cs
  cs/src/Contracts/ErrorDetail.cs
  cs/src/Contracts/InnerErrorDetail.cs
  cs/src/Contracts/NamedRateStatus.cs
  cs/src/Contracts/TunnelListByRegion.cs
  cs/src/Contracts/TunnelListByRegionResponse.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/LanguageExtensions.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TunnelsSDK.Generator.csproj
  go/tunnels/error_codes.go
  go/tunnels/error_detail.go
  go/tunnels/inner_error_detail.go
  go/tunnels/tunnel_list_by_region.go
  go/tunnels/tunnel_list_by_region_response.go
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorCodes.java
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/InnerErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegionResponse.java
  rs/src/contracts/error_codes.rs
  rs/src/contracts/error_detail.rs
  rs/src/contracts/inner_error_detail.rs
  rs/src/contracts/mod.rs
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  ts/src/contracts/errorCodes.ts
  ts/src/contracts/errorDetail.ts
  ts/src/contracts/innerErrorDetail.ts
  ts/src/contracts/tunnelListByRegion.ts
  ts/src/contracts/tunnelListByRegionResponse.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update package version in `tunnels.go`
  go/tunnels/tunnels.go
Due: none

Update tunnels.go version again
  go/tunnels/tunnels.go
Due: none

Box recursive struct in rust generator
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  rs/src/contracts/inner_error_detail.rs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml

Make `Value` optional in `TunnelListByRegion` and `TunnelListByRegionResponse`
  cs/src/Contracts/TunnelListByRegion.cs
  cs/src/Contracts/TunnelListByRegionResponse.cs
  go/tunnels/tunnel_list_by_region_response.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegion.java
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelListByRegionResponse.java
  rs/src/contracts/tunnel_list_by_region.rs
  rs/src/contracts/tunnel_list_by_region_response.rs
  ts/src/contracts/tunnelListByRegion.ts
  ts/src/contracts/tunnelListByRegionResponse.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/rust-pr-build.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add java imports for SerializedName type.
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  java/src/main/java/com/microsoft/tunnels/contracts/ErrorDetail.java
  java/src/main/java/com/microsoft/tunnels/contracts/InnerErrorDetail.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Fix access token fetching in Go SDK tunnel manager
  go/tunnels/manager.go
  go/tunnels/manager_test.go
Due: none

Path conditions:
  .pipelines/cs-ci-build.yaml: any of: cs
  .pipelines/cs-pr-build.yaml: any of: cs
  .pipelines/csharp-build-and-publish.yaml: any of: cs
  .pipelines/rust-pr-build.yaml: any of: rs
  .pipelines/typescript-build-and-publish.yaml: any of: ts
  .pipelines/typescript-pr-build.yaml: any of: ts
