Repository microsoft/dev-tunnels: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

.pipelines/cs-ci-build.yaml:

pool:
  name: VSEngSS-MicroBuild2022-1ES

# Trigger only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

variables:
  TeamName: "Visual Studio"
  enableSigning: true
  signType: real
  Codeql.Enabled: true

steps:

- task: ms-vseng.MicroBuildTasks.30666190-6959-11e5-9f96-f56098202fef.MicroBuildSigningPlugin@3
  displayName: 'Install Signing Plugin'
  inputs:
    signType: $(signType)

- template: cs-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    nobuild: true
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Normal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: NuGetCommand@2
  displayName: "Publish NuGet packages to nuget.org"
  inputs:
    command: 'push'
    nugetFeedType: 'external'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    publishFeedCredentials: 'dev-tunnels-nuget'
    publishPackageMetadata: true

.pipelines/cs-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `cs` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - cs
  autoCancel: true

variables:
  enableSigning: false

steps:
- template: cs-build-steps.yaml

.pipelines/csharp-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to cs directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - cs

pr: none

steps:
- template: csharp-build-steps.yaml

- task: DotNetCoreCLI@2
  displayName: Install NBGV tool
  inputs:
    command: custom
    custom: tool
    arguments: install --tool-path . nbgv

- script: nbgv cloud
  displayName: Set Version

- task: DotNetCoreCLI@2
  displayName: "DotNet Pack"
  inputs:
    command: 'pack'
    workingDirectory: 'cs'
    projects: 'cs/dirs.proj'
    verbosityPack: 'Minimal'
    packagesToPack: 'cs/**/*.csproj'
    configuration: 'Release'
    packDirectory: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish Build
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'

- task: DotNetCoreCLI@2
  displayName: "DotNet Push"
  inputs:
    command: 'push'
    workingDirectory: 'cs'
    verbosity: 'Minimal'
    feedsToUse: Select
    nugetFeedType: 'internal'
    publishVstsFeed: VS
    publishPackageMetadata: true
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'

.pipelines/typescript-build-and-publish.yaml:

pool:
  name: Azure Pipelines

# Publish only if changes to TypeScript directory are committed to main.
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - ts

pr: none

steps:
- template: typescript-build-steps.yaml

- task: Npm@1
  displayName: 'Publish packages to external feed'
  inputs:
    command: custom
    workingDir: ts
    verbose: false
    customCommand: 'run publish --access public'
    customRegistry: useNpmrc
    customEndpoint: 'dev-tunnels-npm'

.pipelines/typescript-pr-build.yaml:

pool:
  name: Azure Pipelines

# Do not trigger on non-PR pushes.
trigger: none

# Trigger on PRs to `main` branch when there are changes in the `ts` folder.
pr:
  branches:
    include:
    - main
  paths:
    include:
    - ts
  autoCancel: true

steps:
- template: typescript-build-steps.yaml

- task: ComponentGovernanceComponentDetection@0
  displayName: Component Governance

Fix subject regex, expose more constraints
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Fix subject regex, expose more constraints (#158)
  cs/src/Contracts/TunnelAccessSubject.cs
  cs/src/Contracts/TunnelConstraints.cs
  cs/tools/TunnelsSDK.Generator/GoContractWriter.cs
  cs/tools/TunnelsSDK.Generator/JavaContractWriter.cs
  cs/tools/TunnelsSDK.Generator/RustContractWriter.cs
  cs/tools/TunnelsSDK.Generator/TSContractWriter.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add Java refresh ports tests (#137)
  java/README.md
  java/src/test/java/com/microsoft/tunnels/TunnelClientTests.java
  java/src/test/java/com/microsoft/tunnels/TunnelTest.java
Due: none

add csharp and typescript pr build actions
  .github/workflows/csharp-pr-build.yml
  .github/workflows/typescript-pr-build.yml
Due: none

update csharp file
  .github/workflows/csharp-pr-build.yml
Due: none

remove ADO builds
  .pipelines/cs-pr-build.yaml
  .pipelines/typescript-pr-build.yaml
Due: none

add expiration to contracts
  cs/src/Contracts/Tunnel.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update access to expiration
  cs/src/Contracts/Tunnel.cs
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

add check name available
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

change update check name path
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

ts sdk changes
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

add Java and some fixes
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Add tunnel expiration property to contracts (#161)
  cs/src/Contracts/Tunnel.cs
  go/tunnels/tunnel.go
  java/src/main/java/com/microsoft/tunnels/contracts/Tunnel.java
  rs/src/contracts/tunnel.rs
  ts/src/contracts/tunnel.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add valid chars to subject name and email regexes
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add valid chars to subject name and email regexes (#162)
  cs/src/Contracts/TunnelConstraints.cs
  go/tunnels/tunnel_constraints.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelConstraints.java
  rs/src/contracts/tunnel_constraints.rs
  ts/src/contracts/tunnelConstraints.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Add ssh gateway rate limit per ip address to tunnel status
  cs/src/Contracts/TunnelStatus.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

update other languages
  go/tunnels/tunnel_status.go
  java/src/main/java/com/microsoft/tunnels/contracts/TunnelStatus.java
  rs/src/contracts/tunnel_status.rs
  ts/src/contracts/tunnelStatus.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update to latest SSH package
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update to latest SSH package (#164)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Reconnect tunnel client on 503
  cs/src/Connections/RelayTunnelConnector.cs
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Reconnect tunnel client on 503 (#165)
  cs/src/Connections/RelayTunnelConnector.cs
  ts/src/connections/relayTunnelConnector.ts
  ts/src/connections/sshHelpers.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Revert "Update to latest SSH package (#164)"
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Revert "Update to latest SSH package (#164)" (#166)
  cs/build/build.props
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Update SSH package, fix reconnect condition
  cs/build/build.props
  cs/src/Connections/TunnelRelayTunnelHost.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

Apply changes to TS
  ts/package-lock.json
  ts/package.json
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

Update SSH package, fix reconnect condition (#167)
  cs/build/build.props
  cs/src/Connections/TunnelRelayTunnelHost.cs
  ts/package-lock.json
  ts/package.json
  ts/src/connections/tunnelRelayTunnelHost.ts
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml, .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

update path
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

java changes
  java/src/main/java/com/microsoft/tunnels/management/ITunnelManagementClient.java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

cs changes
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

ts changes
  ts/src/management/tunnelManagementClient.ts
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go change
  go/tunnels/manager.go
Due: none

rust changes
  rs/src/management/http_client.rs
Due: none

fix ts tests
  ts/test/tunnels-test/mocks/mockTunnelManagementClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

async suffix
  cs/src/Management/ITunnelManagementClient.cs
  cs/src/Management/TunnelManagementClient.cs
  cs/test/TunnelsSDK.Test/Mocks/MockTunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

linting
  ts/src/management/tunnelManagementClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

updated name
  cs/src/Management/TunnelManagementClient.cs
Due: .pipelines/cs-ci-build.yaml, .pipelines/cs-pr-build.yaml, .pipelines/csharp-build-and-publish.yaml

ts encode
  ts/src/management/tunnelManagementHttpClient.ts
Due: .pipelines/typescript-build-and-publish.yaml, .pipelines/typescript-pr-build.yaml

go escaping
  go/tunnels/manager.go
Due: none

encode java
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none

fix reference
  java/src/main/java/com/microsoft/tunnels/management/TunnelManagementClient.java
Due: none
